<form>
  <input ng-model="query">
  <button ng-click="getRootTreeWithQuery()">Search</button>
  <button ng-click="getRootTree()">Reset</button>
</form>

<p></p>
{{searchStatus}}
<div otf-children tree-position-children="terminologyTree"></div>

<!-- 

.directive('otfTree', function () {
	return {
		controller: 'otfConceptTreeCtrl',
		templateUrl: 'js/widgets/terminologyBrowser/otfTerminologyBrowserConcept.html',
		restrict: 'A',
		scope: {
			treePosition: '='
		},
		link: function (scope, elem, attrs) {
			console.debug('otfTree');
			console.debug(scope.treePosition);
			scope.node = scope.treePosition;
			scope.node.isOpen = false;
		}


	};
})

.directive('otfChildren', function($compile) {
	return {
		controller: 'otfConceptTreeChildrenCtrl',
		restrict: 'A',
		scope: {
			treePositionChildren: '='
		},
		template: '',
		link: function (scope, elem, attrs) {
			console.debug('otfChildren');
			console.debug(scope.children);

			scope.$watch('treePositionChildren', function() {
				console.debug('CHLIDREN CHANGED');
				console.debug(scope.treePositionChildren);

				if (angular.isArray(scope.treePositionChildren)) {
					console.debug('otfChildren:  APPENDING');
					elem.append("<div ng-repeat='child in treePositionChildren' otf-tree tree-position='child'></div>");
					
					$compile(elem.contents())(scope);
				}

			});
		}


	};
})

.controller('otfConceptTreeCtrl', function($scope, $rootScope, $http, localStorageService) {

	$scope.focusProject = localStorageService.get('focusProject');

	// function to toggle this node's children
	$scope.toggleChildren = function(node) {

		console.debug("getChildren called with " + node.terminologyId);

		// toggle the isopen flag
		node.isOpen = !node.isOpen;

		// only perform actions if node is open
		if(node.isOpen == true) {

			// if this node's children have not been already retrieved, retrieve them
			if (node.children.length == 0 && node.childrenCount > 0) {
				$http({
					url: root_mapping + "tree/projectId/" + $scope.focusProject.id + "/concept/" + node.terminology + "/" + node.terminologyVersion + "/id/" + node.terminologyId,
					method: "GET",
					headers: { "Content-Type": "application/json"}	
				}).then (function(response) {

					console.debug(response);

					// shorthand for the conceptTrees (may be multiple paths)
					var data = response.data.treePosition;

					// find the tree path along this node
					for (var i = 0; i < data.length; i++) {

						if (data[i].ancestorPath === node.ancestorPath) {
							console.debug(data[i].children);
							node.children = node.children.concat(data[i].children);
						}
					}

				});
			}

		}
	};


	// Display functions
	$scope.truncate = function(string, length) {
		if (length == null) length = 100;
		if (string.length > length) return string.slice(0, length-3);
		else return string;
	};
})

.controller('otfConceptTreeChildrenCtrl', function($scope, $rootScope, $http, localStorageService) {
	
	
})

 -->