<form ng-submit="search()">
  <input ng-model="query" autofocus>
  <button class="btn btn-xs btn-primary">Search</button>
  <span class="btn btn-xs btn-warning" ng-show="query"
    ng-click="clearSearch()">Reset</span>


  <!-- Support tree/list mode switching -->
  <span ng-show="listMode"> <i style="margin-right: 20px"
    class="pull-right noul glyphicon glyphicon-tree-conifer"
    ng-click="toggleListMode()" title="Switch to tree view"></i>
    &nbsp;&nbsp; <i class="pull-right glyphicon glyphicon-th-list"
    uib-tooltip="Currently in list mode"></i>
  </span> <span ng-show="!listMode"> <i style="margin-right: 20px"
    class="pull-right glyphicon glyphicon-tree-conifer"
    uib-tooltip="Currently in tree mode"></i> &nbsp;&nbsp; <i
    class="pull-right noul glyphicon glyphicon-th-list"
    title="Switch to list view" ng-click="toggleListMode()"></i>
  </span>
</form>

<p></p>
<!-- Search Results: scrollable container -->
<div style="max-height: 1000px; overflow-y: scroll;">
  <span ng-show="searchStatus" style="margin-top: 5px"
    class="alert alert-warning">{{searchStatus}}</span>
  <!-- LIST -->
  <div ng-show="listMode && searchResults.length > 0"
    style="margin-bottom: 5px;">
    <span style="display: block;"> <uib-pagination
        total-items="searchResults.length" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-model="paging['search'].page" max-size="5"
        class="pagination-sm" boundary-links="true" rotate="true"
        ng-change="getPagedSearchResults()"></uib-pagination>
    </span>
    <ul class="list-group" ng-show="searchResults.length > 0">
      <li class="list-group-item" style="cursor: pointer;"
        ng-repeat="result in pagedSearchResults"
        ng-click="selectResult(result)"
        ng-class="{selected: result.terminologyId == selectedResult.terminologyId}">
        <div style="cursor: pointer;">{{result.value}}
          ({{result.terminologyId}})</div>
      </li>
    </ul>
  </div>


  <div ng-show="!listMode">
    <div tree-search-result search-results="terminologyTree"
      parameters="srtParameters" callbacks="srtCallbacks"></div>
  </div>
</div>