<div class="dashboard-container">

  <div class="dashboard" ng-class="editClass">

    <div ng-repeat="row in model.rows" class="row" ng-class="row.class">
      <div ng-repeat="col in row.columns" class="column" ng-class="col.class"
        ui-sortable="sortableOptions" ng-model="col.widgets">
        <div class="widgets" ng-repeat="definition in col.widgets">
          <adf-widget definition="definition" column="col"
            edit-mode="{{editMode}}" />
        </div>
      </div>
    </div>

  </div>

</div>