<div>

	

  <span ng-transclude=""></span>

  <div style="float: left; width: 100%;">
    <a href="index.html#/"><img src="img/ihtsdo_logo.png"></a>
  </div>
  

  <div class="navbar navbar-default">

      <div class="navbar-header">
      
	
        <div style="text-align: right; color: black;">
        
          <!--  User information -->
          <span ng-show="currentUser.name != null">
         	 Welcome back, {{currentUser.name}} ({{currentRole.name}})  &nbsp; | &nbsp;
	      </span>  
	      
	               
          <!--  Project focus and select -->
          <span ng-show="currentUser.name != null">Current Project: 
 
	          <select ng-model="focusProject"
	          		  ng-change="changeFocusProject()"
	          		  ng-options="mapProject as mapProject.name for mapProject in mapProjects">
	          </select>
	            &nbsp; | &nbsp;
          </span>
            
          <!--  Dashboard tools -->
          <span
            ng-show="currentRole.name == 'Viewer'" title="Dashboard"><a
            href="index.html#/project/projects/"><i class="glyphicon glyphicon-stats"></i></a></span>
          <span ng-show="currentRole.name == 'Specialist'" title="Dashboard"><a
            href="index.html#/specialist/dash"><i class="glyphicon glyphicon-stats"></i></a></span>
          <span ng-show="currentRole.name =='Lead'" title="Dashboard"><a
            href="index.html#/lead/dash"><i class="glyphicon glyphicon-stats"></i></a></span>
          <span
            ng-show="currentRole.name == 'Administrator'" title="Dashboard"><a
            href="index.html#/admin/dash"><i class="glyphicon glyphicon-stats"></i></a></span> 
          &nbsp;
           <!--  Logout tools -->
          <span
            ng-show="currentUser.name != null" title="Log out"><a
            href="index.html#/" ng-click="go('/project/projects/')"><i class="glyphicon glyphicon-log-out"></i></a></span> 
          &nbsp;
          <!--  Help tools -->
          <span ng-show="page == 'login'" title="Help">
          <a href="doc/loginHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'concept'" title="Help">
          <a href="doc/conceptHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'records'" title="Help">
          <a href="doc/recordsHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'project'" title="Help">
          <a href="doc/projectHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'editDashboard'" title="Help">
          <a href="doc/editDashboardHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'mainDashboard' && currentRole.name == 'Viewer'" title="Help">
          <a href="doc/viewerHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'mainDashboard' && currentRole.name == 'Specialist'" title="Help">
          <a href="doc/specialistHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          <span ng-show="page == 'mainDashboard' && currentRole.name == 'Lead'" title="Help">
          <a href="doc/leadHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
           <span ng-show="page == 'mainDashboard' && currentRole.name == 'Administrator'" title="Help">
          <a href="doc/administratorHelp.html" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></span>
          &nbsp;
        </div>
            <div class="container">
      </div>
    </div>
  </div>
</div>



