<div><span ng-transclude=""></span><div style="text-align: right;">
<span ng-show="userName != null">Welcome back,</span>
 {{userName}} 
<span ng-show="userName != null">(</span> 
 {{role.name}}  
<span ng-show="userName != null">)</span> 
<span ng-show="role.name == 'Viewer'" title="Dashboard"><a href="index.html#/project/projects/"><img src="img/meter.png"></a></span>
<span ng-show="role.name == 'Specialist'" title="Dashboard"><a href="index.html#/specialist/dash"><img src="img/meter.png"></a></span>
<span ng-show="role.name =='Lead'" title="Dashboard"><a href="index.html#/lead/dash"><img src="img/meter.png"></a></span>
<span ng-show="role.name == 'Administrator'" title="Dashboard"><a href="index.html#/admin/dash"><img src="img/meter.png"></a></span>

<span ng-show="userName != null" title="Log out"><a href="index.html#/" ng-click="go('/project/projects/')"><img src="img/system-log-out-3.png"></a></span>
<span title="Help"><a href="index.html#/"><img src="img/help.png"></a></span>
</div></div>
