<h3>Welcome to the IHTSDO Mapping Object Retrieval WebApp!</h3>

Instructions:
<p>
<ul>
  <li>To view sample organizational mapping projects, click <em>Projects</em>.
  </li>
  <li>To view a sample list of users, click <em>Leads</em> or <em>Specialists</em>.
  </li>
  <li>To keyword-search RF2 Concepts, Map Projects, or Map Records, click <em>Search</em>.
  </li>
  <li>You may always return to this page by clicking <em>Home</em>!
  </li>
</ul>

<strong>Note:</strong>

<p>This webapp is designed strictly to demonstrate retrieval capability and
  elicit feedback on user interface elements. Edit and deletion functions are
  not yet enabled in the webapp.
<p>
<p>
<h2>Happy New Year from West Coast Informatics!</h2>