<!-- Partial for login page -->



<div ng-show="users.length == 0">

	<h3>Initializing application.  Please wait.</h3>
</div>

<div ng-show="users.length > 0">
	<form>
	<table >
	<tr> <td height="70px" colspan="2" style="vertical-align: bottom; padding-bottom: 15px"><strong>Please choose User and Role</strong></td></tr>
	<tr>
		<td style="padding:5px; width:5%;">Select User: </td>
		<td style="padding:5px; width:20%;"><select ng-model="user" ng-options = "user as user.name for user in users"></select></td>
	</tr>
	
	
	<tr>
		<td style="padding:5px; width:5%;">Role:</td> 
		<td style="padding:5px; width:20%;"><select ng-model="role" ng-options="r.name for r in roles"></select></td>
	</tr>
	
	
	<tr>
		<td style="padding:5px;" ></td>
		<td style="padding:5px;" >
		<button type="submit" ng-click="go('/viewer/dash')">Login</button>
		</td>
	</tr>
	</table>
	</form>
</div>

<div ng-show = "error.length > 0">

	<h3>Error initializing application</h3>
	<p></p>
	{{error}}
</div>




