<!-- Partial for login page -->

<div ng-include src="'./partials/header.html'"></div>

<div ng-show="mapUsers.length == 0">

	<h3>Initializing application.  Please wait.</h3>
</div>

<div ng-show="mapUsers.length > 0">
	<form>
	  <div>
        <div height="70px" 
          style="vertical-align: bottom; padding-bottom: 15px"><strong>Please
            enter User and Password</strong>
            <p>You may use: your IHTSDO username / Sn0m3dDefPass</div>
      </div>
      <div>
        <div style="padding: 5px; width: 20%;"><input id="userField" ng-model="userName" type="text" placeholder="Username" /></div>
      </div>
	  <div>
        <div style="padding: 5px; width: 20%;"><input id "passwordField" type="password" placeholder="Password" ng-model="password"/></div>
      </div>
	<div>
		<div style="padding:5px;" >
		<button type="submit" ng-click="go('/viewer/dash')">Login</button>
		</div>
	</div>
	</form>
</div>
<div ng-include src="'./partials/footer.html'"></div>
<div ng-show = "error.length > 0" >

	<h3 class="alert alert-danger">{{error}}</h3>
</div>






