<div>






  <table class="table">
    <tbody style="border: 2px solid #ccc;">
      <tr>
        <td>Target</td>
        <td>
          <div ng-show="entry.targetId != null && entry.targetId != ''">
            {{entry.targetId}}: {{entry.targetName}}
            <p></p>
          </div>

          <form>
            <input ng-model="queryTarget"> <input type="submit"
              value="Search" ng-click="retrieveTargetConcepts(queryTarget)">
            <input type="submit" value="Reset" ng-click="resetTargetConcepts()">
          </form>

          <table width=100% ng-show="targetConcepts.length > 0" class="table">

            <thead>
              <tr>
                <th style="">
                </td>
                <th style="">Id
                </td>
                <th style="">Name
                </td>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="target in targetConcepts | limitTo:10">
                <td><input type="submit" value="Select"
                  ng-click="selectTargetConcept(entry, target)"></td>
                <td>{{target.terminologyId}}</td>
                <td>{{target.value}}</td>
            </tbody>

          </table>
        </td>
      </tr>

      <tr ng-show="project.ruleBased == true">
        <td>Rule</td>
        <td>{{entry.rule}}
          <p ng-show="entry.rule.length > 0"></p>
          <input type="submit" value="Construct Rule"
          ng-click="constructRule(entry)">
        </p>
        </td>
      </tr>

      <tr ng-show="project.relationStyle === 'RELATIONSHIP_STYLE'">

        <td>Relation Id</td>
        <td><input type="text" ng-model="entry.relationId"></td>
      </tr>
      <tr ng-show="project.relationStyle === 'RELATIONSHIP_STYLE'">
        <td>Relation Name</td>
        <td>{{entry.relationName}}</td>
      </tr>


      <tr ng-show="project.relationStyle != 'RELATIONSHIP_STYLE'">
        <td>Advice</td>
        <td>
          <div ng-show="entry.mapAdvice.length > 0">
            <div ng-repeat="advice in entry.mapAdvice">
              <button disabled>
                {{advice.detail}} <i class="glyphicon glyphicon-remove-circle"
                  ng-click="removeEntryAdvice(entry, advice)"> </i>
              </button>

            </div>
            <hr>
          </div> <span style="color: red">{{errorAddAdvice}}</span>
          <form>
            <textarea ng-model="adviceInput"
              typeahead="advice as advice.detail for advice in project.mapAdvice | filter:$viewValue | limitTo:8"
              class="form-control" typeahead-min-length="0"
              typeahead-editable="false"></textarea>
            <input type="submit" value="Add Advice"
              ng-click="addEntryAdvice(entry, adviceInput)">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
