<h3>Example of editing:  SNOMEDCT to ICD10 Principles</h3>

Principles are taken from the MST Mapping Personnel Handbook, v.1.5.<p>

Instructions:  
<ul>
<li>Enter a principle number between 1 and 34 to view the associated principle.</li>
<li>Edit as desired</li>
<li>Click "Save" to update the principle in the database</li>
<li>Click "Reset" to abandon any changes and return to the original principle values</li>
</ul>

Testing:
<p>Updated principles can be reloaded either here or via the <a href="index.html#/project/id/1">SNOMEDCT to ICD10 sample project</a>.
<hr>
<input type="text" ng-model="principleId"><input type="button" value="Get Principle" ng-click=get()>
<hr>


<table>
<thead align="left"><tr><th>Field</th><th>Value</th></tr></thead>
<tbody>
<tr><td>ID:</td><td>  <textarea cols="50" type="text" ng-model="principle.principleId"></textarea></td></tr>
<tr><td>Name:</td><td><textarea cols="100" type="text" ng-model="principle.name"></textarea></td></tr>
<tr><td>Detail:</td><td> <textarea type="text" ng-model="principle.detail"></textarea></td></tr>
<tr><td>Reference:</td><td> <textarea type="text" ng-model="principle.sectionRef"></textarea></td></tr>
</tbody>
</table>

<p>
<input type="button" value="Save" ng-click="save()">
<input type="button" value="Reset" ng-click="reset()">
