<!-- Partial for project list -->
Search Project Names: <input ng-model="query">

<accordion>
    <accordion-group ng-repeat="project in projects | filter:query | orderBy:orderProp">
    	<accordion-heading><h3>{{project.name}}</h3></accordion-heading>
    	<p></p>
		<p>Source Terminology: {{project.sourceTerminology}}, v. {{project.sourceTerminologyVersion}}</p>
		<p>Destination Terminology: {{project.destinationTerminology}}, v. {{project.destinationTerminologyVersion}}</p>
		<p>Ref Set Id: {{project.refSetId}}
		<p>Map Leads:</p>
		<ul><li ng-repeat="lead in project.mapLeads"><a href="mailto:{{lead.email}}">{{lead.name}}</a></li></ul>
		<p>
		<p>Map Specialists:</p>
		<ul><li ng-repeat="specialist in project.mapSpecialists"><a href="mailto:{{specialist.email}}">{{specialist.name}}</a></li></ul>
		<p>
		<p>Block Structure: {{project.blockStructure}}</p>
		<p>Group Structure: {{project.groupStructure}}</p>
		<p>Published: {{project.published}}</p>
   	</accordion-group>
</accordion>

{{error}}




