<!--  partial for displaying project :projectId -->

<p></p>
<h3>{{project.name}}</h3>
<p></p>

<a href="#/record/projectId/{{project.id}}" class="btn">Map Records</a>
<p></p>

<table width="100%" class="table pure-table" style="border: 2px solid #ccc;">

  <tr>
    <td style="width: 18%;"><div tooltip-placement="right" tooltip="Abbreviation and version information for the terminology this map project is mapping from."><b>Source Terminology</b></div></td>
    <td style="width: 82%;">{{project.sourceTerminology}}, {{project.sourceTerminologyVersion}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="Abbreviation and version information for the terminology this map project is mapping to."><b>Destination Terminology</b></div></td>
    <td>{{project.destinationTerminology}}, {{project.destinationTerminologyVersion}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="The RF2 metadata concept identifier and preferred name representing this map project."><b>Ref Set</b></div></td>
    <td>{{project.refSetName}}, {{project.refSetId}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="A true/false indicator of whether this mapping data has been published."><b>Published</b></div></td>
    <td>{{project.published}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="A true/false indicator of whether this map project has multiple mappings for the same source concept."><b>Group Structure</b></div></td>
    <td>{{project.groupStructure}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="List of the map leads for this project."><b>Map Leads</b></div></td>
   <!-- <td><ul><li ng-repeat="lead in project.mapLead">{{lead.name}}, {{lead.userName}}, {{lead.email}} </li></ul></td>  --> 
    <td><table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th style="width: 30%;">User</th>
        <th style="width: 20%;">User Name</th>
        <th style="width: 50%;">Email</th>
      </tr>
    </thead>
    <tbody ng-repeat="lead in project.mapLead" style="border: 2px solid #ccc;" >
      <tr>
        <td>{{lead.name}}</td>
        <td>{{lead.userName}}</td>
        <td>{{lead.email}}</td>
      </tr>
    </tbody>
    </table>
    </td>
  </tr>  
  <tr>
    <td><div tooltip-placement="right" tooltip="List of the map specialists for this project."><b>Map Specialists</b></div></td>
    <td><table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th style="width: 30%;">User</th>
        <th style="width: 20%;">User Name</th>
        <th style="width: 50%;">Email</th>
      </tr>
    </thead>
    <tbody ng-repeat="specialist in project.mapSpecialist" style="border: 2px solid #ccc;" >
      <tr>
        <td>{{specialist.name}}</td>
        <td>{{specialist.userName}}</td>
        <td>{{specialist.email}}</td>
      </tr>
    </tbody>
    </table>
    </td>
  </tr> 
  <tr>
    <td><div tooltip-placement="right" tooltip="List of the map advice for this project."><b>Map Advice</b></div></td>
    <td><table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th>Advice</th>
      </tr>
    </thead>
    <tbody ng-repeat="advice in project.mapAdvice" style="border: 2px solid #ccc;" >
      <tr>
        <td>{{advice.name}}</td>
      </tr>
    </tbody>
    </table>
    </td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="List of the map principles for this project."><b>Map Principles</b></div></td>
    <td><table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th style="width: 10%;">Id</th>
        <th style="width: 90%;">Name</th>
      </tr>

    </thead>
       
    <tbody ng-repeat="principle in project.mapPrinciple | orderBy:'principleId'" style="border: 2px solid #ccc;" >
     <tr>
        <td>{{principle.principleId}}</td>
        <td>      
            <div class="dropdown">
            <a class="dropdown-toggle"> 
            <img src="img/dialog-question.png" alt="question icon">
            </a>{{principle.name}}
            <span class="dropdown-menu">
              <p>Reference: {{principle.sectionRef}}</p>
              <p ng-bind-html="to_trusted(principle.detail)"></p>
            </span>
            </div>             
        </td>
      </tr>
    </tbody>
    </table>
    </td>
  </tr>
</table>  
<!-- <span ng-show="project.mapAdvice.length > 0">Map Advice</span>
<ul>
    <select name="jlist" size="5" style="width: 600px;" >
    <option ng-repeat="advice in project.mapAdvice" value="{{advice.name}}">{{advice.name}}</option>
    </select>
</ul> 

-->

<a href="#/record/projectId/{{project.id}}" class="btn">Map Records</div>




