<!--  partial for displaying project :projectId -->
<p></p>
<h3>{{project.name}}</h3>
<p></p>


<a href="#/record/projectId/{{project.id}}" class="btn">Map Records</a>
<p></p>

<table width="100%" class="table pure-table" style="border: 2px solid #ccc;">

  <tr>
    <td style="width: 18%;"><div tooltip-placement="right" tooltip="Abbreviation and version information for the terminology this map project is mapping from."><b>Source Terminology</b></div></td>
    <td style="width: 82%;">{{project.sourceTerminology}}, {{project.sourceTerminologyVersion}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="Abbreviation and version information for the terminology this map project is mapping to."><b>Destination Terminology</b></div></td>
    <td>{{project.destinationTerminology}}, {{project.destinationTerminologyVersion}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="The RF2 metadata concept identifier and preferred name representing this map project."><b>Ref Set</b></div></td>
    <td>{{project.refSetName}}, {{project.refSetId}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="A true/false indicator of whether this mapping data has been published."><b>Published</b></div></td>
    <td>{{project.published}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="A true/false indicator of whether this map project has multiple mappings for the same source concept."><b>Group Structure</b></div></td>
    <td>{{project.groupStructure}}</td>
  </tr>
  <tr>
    <td><div tooltip-placement="right" tooltip="A true/false indicator of whether this map project uses rules other than TRUE"><b>Rule Based</b></div></td>
    <td>{{project.ruleBased}}</td>
  </tr>
    <tr>
    <td><div tooltip-placement="right" tooltip="The method by which this project uses the map relation (e.g. map record based, relationship based)"><b>Relation Style</b></div></td>
    <td>{{mapRelationStyleText}}</td>
  </tr>
  <tr>
  	<td><div tooltip-placement="right" tooltip="The type of mapping this project uses (i.e.. simple, complex, extended)"><b>Map Type</b></div></td>
  	<td>{{project.mapRefsetPattern}}</td>
  <tr>
    <td><div tooltip-placement="right" tooltip="List of the map leads for this project."><b>Map Leads</b></div></td>
   <!-- <td><ul><li ng-repeat="lead in project.mapLead">{{lead.name}}, {{lead.userName}}, {{lead.email}} </li></ul></td>  --> 
    <td><table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th style="width: 30%;">User</th>
        <th style="width: 20%;">User Name</th>
        <th style="width: 50%;">Email</th>
      </tr>
    </thead>
    <tbody ng-repeat="lead in project.mapLead" style="border: 2px solid #ccc;" >
      <tr>
        <td>{{lead.name}}</td>
        <td>{{lead.userName}}</td>
        <td>{{lead.email}}</td>
      </tr>
    </tbody>
    </table>
    </td>
  </tr>  
  <tr>
    <td><div tooltip-placement="right" tooltip="List of the map specialists for this project."><b>Map Specialists</b></div></td>
    <td><table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th style="width: 30%;">User</th>
        <th style="width: 20%;">User Name</th>
        <th style="width: 50%;">Email</th>
      </tr>
    </thead>
    <tbody ng-repeat="specialist in project.mapSpecialist" style="border: 2px solid #ccc;" >
      <tr>
        <td>{{specialist.name}}</td>
        <td>{{specialist.userName}}</td>
        <td>{{specialist.email}}</td>
      </tr>
    </tbody>
    </table>
    </td>
  </tr> 
  <tr ng-show="project.mapAdvice.length > 0">
    <td><div tooltip-placement="right" tooltip="List of the map advice for this project."><b>Map Advice</b></div></td>
    <td>
    
    <pagination direction-links="false" boundary-links="true" 
    			total-items="pagedAdviceCount" items-per-page="pageSize" 
    			page="pageAdvice" on-select-page="getPagedAdvices(page)"></pagination>
    <form>
	    <input type="text" ng-model="adviceFilter" ng-change="getPagedAdvices(1)">
	    <input type="submit" value="Reset Filter" ng-click="resetAdviceFilter()">
    </form>
    		
    <table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th>Advice</th>
      </tr>
    </thead>
    <tbody ng-repeat="advice in pagedAdvice | orderBy: 'name'" style="border: 2px solid #ccc;" >
      <tr>
        <td>{{advice.name}}</td>
      </tr>
     
    </tbody>
    
    
   </table>
   </td>
  </tr>
  <tr ng-show="project.mapPrinciple.length > 0">
    <td><div tooltip-placement="right" tooltip="List of the map principles for this project."><b>Map Principles</b></div></td>
    <td>

    <pagination direction-links="false" boundary-links="true" 
    			total-items="pagedPrincipleCount" items-per-page="pageSize" 
    			page="pagePrinciple" on-select-page="getPagedPrinciples(page)"></pagination>
    <form>
	    <input type="text" ng-model="principleFilter" ng-change="getPagedPrinciples(1)">
	    <input type="submit" value="Reset Filter" ng-click="resetPrincipleFilter()">
    </form>
    
    <table width="100%" class="table pure-table" >
    <thead>
      <tr>
        <th style="width: 10%;">Id</th>
        <th style="width: 90%;">Principle Name</th>
      </tr>

    </thead>
       
    <tbody ng-repeat="principle in pagedPrinciple | orderBy:principleId" style="border: 2px solid #ccc;" >
     <tr>
        <td>{{principle.principleId}}</td>
        <td>    
        	<div class="dropdown">
            <a class="dropdown-toggle"> 
            <img src="img/information-blue.png" alt="information icon">
            </a>
			&nbsp
        	{{principle.name}}
            <span class="dropdown-menu">
              <p>Reference: {{principle.sectionRef}}</p>
              <p ng-bind-html="to_trusted(principle.detail)"></p>
            </span>
            </div>        
        </td>
      </tr>
    </tbody>
    
    </table>
    
    <div ng-show="project.mapPrincipleDocument != null">
    Principles taken from <a href="{{project.mapPrincipleDocumentPath}}/{{project.mapPrincipleDocument}}" target="_blank">{{project.mapPrincipleDocumentName}}</a> </div>
    </td>
    
  </tr>
  
  <tr ng-show="project.mapAgeRange.length > 0">

  	<td><div tooltip-placement="right" tooltip="List of the preset age ranges used for rule construction for this project."><b>Preset Age Ranges</b></div></td>
    <td>
	    <table width="100%" class="table pure-table" " >
	    <thead>
	      <tr>
	        <th style="width: 30%;">Name</th>
	        <th style="width: 35%;">Lower Bound</th>
	        <th style="width: 35%;">Upper Bound</th>
	      </tr>
	    </thead>
	    
	    
	    <tbody ng-repeat="ageRange in project.mapAgeRange | orderBy: 'name'">
	    
	    <tr>
	    	<td>{{ageRange.name}}</td>
	    	<td>
			<div ng-show="ageRange.lowerValue != '-1'">
		    	<span ng-show="ageRange.lowerInclusive == true && ageRange.lowerValue != null">≥</span>
		    	<span ng-show="ageRange.lowerInclusive == false && ageRange.lowerValue != null">></span>
		    	
		    	{{ageRange.lowerValue}} {{ageRange.lowerUnits}} 
	    	</div>
	    	</td>
	    	<td>
	    	
	    	<div ng-show="ageRange.upperValue != '-1'">
	    	
		    	<span ng-show="ageRange.upperInclusive == true && ageRange.upperValue != null">≤</span>
		    	<span ng-show="ageRange.upperInclusive == false && ageRange.upperValue != null"><</span>
		    	
		    	{{ageRange.upperValue}} {{ageRange.upperUnits}} 
	    	</div>
	    	</td>
    	</tr>
    	</tbody>
	    
	    </table>
    </td>
  </tr>
  
</table>  

<a href="#/record/projectId/{{project.id}}" class="btn">Map Records</div>




