<!--  partial for displaying records -->

<p></p>

<a href="#/project/id/{{project.id}}"><h3>{{project.name}}</h3></a>
<p></p>

<p>{{errorRecords}} </p>

 
<p>Search Records:<form><input ng-model="query"><input type="submit" ng-click="retrieveRecords(1)"></form>

<table width="100%" class="table pure-table" >
<thead>
	<tr>
		<th ng-repeat = "header in headers">
			<sort-by onsort="onSort" sortdir = "filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{header.value}}">{{header.title}}</sort-by>
		</th>
		</tr>
</thead>

<tbody ng-repeat="record in records" style="border: 2px solid #ccc;" >

	<tr ng-repeat = "entry in record.mapEntry" >
		<td><a href="#/record/conceptId/{{record.conceptId}}">{{record.conceptId}}</a></td>
		<td>{{record.conceptName}}</td>
        <td>{{entry.mapGroup}}</td>
        <td>{{entry.mapPriority}}</td>
        <td>{{entry.rule}}</td>
		<td>{{entry.targetId}}</td>
		<td>{{entry.targetName}}</td>
        <td>
        <span ng-show="record.mapNote.length > 0"><IMG popover-placement="left" popover="{{record.mapNote.0.note}}" src="img/notepad.png" ALT="notepad icon"></span>
        <span ng-show="entry.mapAdvice.length > 0"><IMG popover-placement="left" popover="{{entry.mapAdvice.0.detail}}" src="img/dialog-question.png" ALT="question icon"></span>       
        </td>
  </tr>

</tbody>

<pagination total-items="nRecords" page="recordPage" max-size="recordsPerPage" class="pagination-sm" 
			boundary-links="true" rotate="true" num-pages="numRecordPages"
			on-select-page="retrieveRecords(page)"></pagination>
</table>



