<!--  partial for displaying records -->

<p></p>

<a href="#/project/id/{{project.id}}"><h3>{{project.name}}</h3></a>
<p></p>



<p>{{errorRecords}}</p>
 
<p>Search Records:<form><input ng-model="query"><input type="submit" ng-click="retrieveRecords(1)"></form>

Filter Results:
<input ng-model="query">

<tbody ng-repeat="record in records" style="border: 2px solid #ccc;" >

  <tbody ng-repeat="record in records | filter:query"
    style="border: 2px solid #ccc;">

    <tr ng-repeat="entry in record.mapEntry">

<pagination total-items="nRecords" page="recordPage" max-size="recordsPerPage" class="pagination-sm" 
			boundary-links="true" rotate="true" num-pages="100"
			on-select-page="retrieveRecords(page)"></pagination>

      <td><a href="#/record/conceptId/{{record.conceptId}}">{{record.conceptId}}</a></td>
      <td>{{record.conceptName}}</td>
      <td>{{entry.mapGroup}}</td>
      <td>{{entry.mapPriority}}</td>
      <td>{{entry.rule}}</td>
      <td>{{entry.targetId}}</td>
      <td>{{entry.targetName}}</td>
      <td>{{entry.relationId}}</td>

    </tr>

  </tbody>

  <pagination total-items="nRecords" page="recordPage" max-size="recordsPerPage"
    class="pagination-sm" boundary-links="true" rotate="true" num-pages="100"
    on-select-page="changeRecordPage(page)"></pagination>

  {{nRecords}} records
</table>



