<h3>MapRecord</h3>

<p>Concept ID: <a href="index.html#/concept/id/{{record.conceptId}}">{{record.conceptId}}</a></p>
<p>Map Entries:</p>
<table cellpadding="5">
	<thead><tr><th>Target</th><th>Rule</th><th>Index</th><th>RelationId</th></tr></thead>
	<tbody>
	<tr ng-repeat="entry in record.mapEntry">
		<td>{{entry.target}}</td>
		<td>{{entry.rule}}</td>
		<td>{{entry.indexMapPriority}}</td>
		<td>{{entry.relationId}}</td>
	</tr>
	</tbody>
</table>
<p></p>
<p>Record Notes:</p>
<ul><li ng-repeat="note in record.mapNote">{{note.note}}</li></ul>
