<!--  partial for displaying records associated with a concept id -->
<p></p>
<h3>Map Records for {{concept.terminology}} Concept {{concept.terminologyId}}:  {{concept.defaultPreferredName}}  

</h3>
<p></p>
<p></p>



<!--  Placeholder warning div -->

<span ng-show = "records.length == 0">
	<hr>
	<h3><img src="img/warning-circle_25px.png">&nbspUndeveloped Content/Placeholder Note</h3><p></p><p></p>
	<p> This concept has no map records associated with it, and therefore will not display.
	<p> Future versions will display a list of concepts matching this Id, and redirect to map record creation upon selection of desired concept.
	<hr>
</span>
<p></p>

<div ng-show = "records.length > 0">

<table width="100%" class="table">
<thead>
	<tr> 
        <th style="width: 5%;"></th>
		<th style="width: 18%;">Project Name</th>
        <th style="width: 8%;">Group Id</th>
        <th style="width: 10%;">Map Priority</th>
        <th style="width: 13%;">Rule</th>
		<th style="width: 10%;">Target</th>
		<th style="width: 18%;">Target Name</th>
		<th style="width: 5%;"></th>
	</tr>
</thead>

<tbody ng-dblclick="open(record)" ng-repeat="record in records" style="border: 2px solid #ccc;">


	<tr ng-repeat = "entry in record.mapEntry">
		<td>
		<div ng-show="record.mapNote.length > 0">
          <div class="dropdown">
            <a class="dropdown-toggle"> 
            <img src="img/notepad.png" alt="notepad icon">
            </a>
            <ul class="dropdown-menu">
              <b>Note View</b>
              <li ng-repeat="note in record.mapNote"><a>{{note.note}}</a></li>
            </ul>
          </div>
        </div>
        <div ng-show="entry.mapAdvice.length > 0">
          <div class="dropdown">
            <a class="dropdown-toggle"> 
            <img src="img/dialog-question.png" alt="question icon">
            </a>
            <ul class="dropdown-menu">
              <b>Advice View</b>
              <li ng-repeat="advice in entry.mapAdvice"><a>{{advice.detail}}</a></li>
            </ul>
          </div>
        </div>
         
        </td>
		<td><a href="index.html#/record/projectId/{{record.mapProjectId}}">{{getProjectName(record)}}</a></td>
		<td>{{entry.mapGroup}}</td>
        <td>{{entry.mapPriority}}</td>
        <td>{{entry.rule}}</td>
		<td>{{entry.targetId}}</td>
		<td>{{entry.targetName}}</td>
		<td align="center" colspan="7">
			<form>
				<input type="submit" value="Edit Record" ng-click="open(record)">
			</form>
        </td>
		
	</tr>


</tbody>

</table>

</div>

<div ng-show="concept.relationship.length > 0 || concept.children.length > 0">

	<h3>Concept Navigation</h3>
	<p></p>
	
	<table width="100%">

	<tbody style="border: 0px solid #ccc;">
	<tr>
		<td style="width:5%"></td>
		<td style="width:95%">
			
			<!--  Navigation and Unmapped Descendants -->
			<div class="dropdown" ng-show="concept.relationship.length > 0">
					<a class="dropdown-toggle">Parents</a>	
			 		<ul class="dropdown-menu">
			 		<strong>Parents</strong>
			 			<li ng-repeat="relationship in concept.relationship | orderBy:'destinationConceptPreferredName'">
			 				<a href="#/record/conceptId/{{relationship.destinationConceptId}}">{{relationship.destinationConceptId}}:  {{relationship.destinationConceptPreferredName}}</a> 
						</li>
			 		</ul>
			</div>
			<div class="dropdown" ng-show="concept.children.length > 0">
					<a class="dropdown-toggle">Children</a>	
			 		<ul class="dropdown-menu">
			 		<strong>Children</strong>
			 			<li ng-repeat="concept in concept.children | orderBy: 'value'">
			 				<a href="#/record/conceptId/{{concept.terminologyId}}">{{concept.terminologyId}}:  {{concept.value}}</a> 
						</li>
			 		</ul>
			</div>
		</td>
	</tr>
	</table>
	<p></p>
</div>

<div ng-show = "concept.unmappedDescendants.length > 0">

	<h3>Concept Alerts</h3>
	<p></p>
	<table width="100%">

	<tbody style="border: 0px solid #ccc">
	<tr>
		<td align=center style="width:5%"><img src="img/warning.png" alt="question icon"></td>
		<td style="width:95%">
			
			<div class="dropdown" ng-show="concept.unmappedDescendants.length > 0">
			     <a class="dropdown-toggle">
			     		
			 			  Unmapped descendants.
			     
			     </a>
			     <ul class="dropdown-menu">
			       <strong>Unmapped Descendants</strong>
			       <li ng-repeat="concept in concept.unmappedDescendants"><a href="#/record/conceptId/{{concept.terminologyId}}">{{concept.terminologyId}}: {{concept.value}}</a></li>
			     </ul>
			</div>
	</td>
	</tr>
	</table>
	<p></p>

</div>

{{error}}


