<!--  partial for displaying project :projectId -->



<p></p>
<h3>{{concept.terminology}} Concept {{concept.terminologyId}}:  {{concept.defaultPreferredName}}
</h3>
<p></p>

<!--  Placeholder warning div -->
<div ng-show = "records.length == 0">
	<hr>
	<h3><img src="img/warning-circle_25px.png">&nbspUndeveloped Content/Placeholder Note</h3><p></p><p></p>
	<p> This concept has no map records associated with it, and therefore will not display.
	<p> Future versions will redirect to map record creation page.
	<hr>
</div>


<table width="100%" class="table">
<thead>
	<tr> 
        <th style="width: 5%;"></th>
		<th style="width: 18%;">Project Name</th>
        <th style="width: 8%;">Group Id</th>
        <th style="width: 10%;">Map Priority</th>
        <th style="width: 13%;">Rule</th>
		<th style="width: 10%;">Target</th>
		<th style="width: 18%;">Target Name</th>
	</tr>
</thead>

<tbody ng-repeat="record in records" style="border: 2px solid #ccc;">

	<tr ng-repeat = "entry in record.mapEntry">
		<td>
		<div ng-show="record.mapNote.length > 0">
          <div class="dropdown">
            <a class="dropdown-toggle"> 
            <img src="img/notepad.png" alt="notepad icon">
            </a>
            <ul class="dropdown-menu">
              <b>Note View</b>
              <li ng-repeat="note in record.mapNote"><a>{{note.note}}</a></li>
            </ul>
          </div>
        </div>
        <div ng-show="entry.mapAdvice.length > 0">
          <div class="dropdown">
            <a class="dropdown-toggle"> 
            <img src="img/dialog-question.png" alt="question icon">
            </a>
            <ul class="dropdown-menu">
              <b>Advice View</b>
              <li ng-repeat="advice in entry.mapAdvice"><a>{{advice.detail}}</a></li>
            </ul>
          </div>
        </div>
         
        </td>
		<td><a href="index.html#/record/projectId/{{record.mapProjectId}}">{{getProjectName(record)}}</a></td>
		<td>{{entry.mapGroup}}</td>
        <td>{{entry.mapPriority}}</td>
        <td>{{entry.rule}}</td>
		<td>{{entry.targetId}}</td>
		<td>{{entry.targetName}}</td>
		<td>
        </td>
	</tr>

</tbody>

</table>

<h4>Concept Navigation</h4>
<p></p>
<div class="dropdown">
		<a class="dropdown-toggle">Parents</a>	
 		<ul class="dropdown-menu">
 			<li ng-repeat="relationship in concept.relationship">
 				<a href="#/record/conceptId/{{relationship.destinationConceptId}}">{{relationship.destinationConceptId}}:  {{relationship.destinationConceptPreferredName}}</a> 
			</li>
 		</ul>
</div>
<div>Children [<em>In development</em>]</i>

{{error}}


