Note (1/20/13):  displaying map records has not been fully tested.
<p>
<!-- Partial for record list -->
<p>Filter Results: <input ng-model="query"></p>



<accordion>
    <accordion-group ng-repeat="record in records | filter:query | orderBy:orderProp">
    	<accordion-heading><h3>{{record.name}}</h3></accordion-heading>
    	<p></p>
		<p>Concept Id: {{record.conceptId}}
		
		<p>Map Entries:</p>
		<table>
		<thead><tr><th>Target</th><th>Rule</th><th>Index</th><th>Relation Id</th></tr></thead>
		<tbody>
		<tr ng-repeat="entry in record.mapEntries">
			<td>{{entry.target}}</td>
			<td>{{entry.rule}}</td>
			<td>{{entry.indexMapPriority}}</td>
			<td>{{entry.relationId}}</td>
		</tr>
		</tbody>
		</table>

		<p>Notes:</p>
		<ul><li ng-repeat="note in record.notes">{{note.note}}</li></ul>
   	</accordion-group>
</accordion>




