<div class="modal-header">
  <h3>Rule Constructor</h3>
</div>

<div class="modal-body">

  <h4>Select Rule Category</h4>
  <select ng-model="ruleCategory" ng-selected="ruleCategory"
    ng-change="ageRange = null; changeRuleCategory(ruleCategory)"
    ng-options="category as category for category in ruleCategories"></select>

  <div
    ng-show="ruleCategory === 'Age - Chronological' || ruleCategory === 'Age - At Onset'">
    <hr>
    <!-- <h4>Enter age range</h4>

		<table class="table">
		<thead>
			<tr>
				<th>Bound</th>
				<th>Operator</th>
				<th>Value</th>
				<th>Units</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Lower</td>
				<td>
					<select ng-model="ageRange.lowerInclusive" ng-change="constructRule(ruleCategory, ageRange)">
						<option value=false>></option>
						<option value=true>>=</option>
					</select>
				</td>
				<td><input style="width:50px;" ng-model="ageRange.lowerValue" ng-change="constructRule(ruleCategory, ageRange)"></td>
				<td>
					<select ng-model="ageRange.lowerUnits" ng-change="constructRule(ruleCategory, ageRange)">
					<option value="days">days</option>
					<option value="years">years</option>
					</select>
				</td>
			</tr>
			<td>Upper</td>
				<td>
					<select ng-model="ageRange.upperInclusive" ng-change="constructRule(ruleCategory, ageRange)">
						<option value="false"><</option>
						<option value="true"><=</option>
					</select>
				</td>
				<td><input style="width:50px;" ng-model="ageRange.upperValue" ng-change="constructRule(ruleCategory, ageRange)"></td>
				<td>
					<select ng-model="ageRange.upperUnits" ng-change="constructRule(ruleCategory, ageRange)">
					<option value="days">days</option>
					<option value="years">years</option>
					</select>
				</td>
			</tr>
		</tbody>
		</table> -->

    <h4>Select from preset age ranges</h4>

    <select ng-model="ageRange"
      ng-change="constructRule(ruleCategory, ageRange)"
      ng-options="presetAgeRange as presetAgeRange.stringName for presetAgeRange in presetAgeRanges"></select>
  </div>
  <!-- END chronological age select -->

  <div ng-show="rule.length > 0">
    <hr>
    <h3>Rule Preview:</h3>
    <blockquote>{{rule}}</blockquote>
  </div>

</div>
<!--  end of modal-body -->

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="saveRule(rule)">Add Rule</button>
  <button class="btn btn-warning" ng-click="cancelRule(rule)">Cancel</button>
</div>