<!--  CONCEPT PANEL -->

<!-- Prevent reload on this editing page -->
<script type="text/javascript">
    window.onbeforeunload = function() {
        return "If you leave this page data may be lost!";
    }
</script>

<accordion> <accordion-group is-open="isConceptOpen">
<accordion-heading> Source Concept <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': isConceptOpen, 'glyphicon-chevron-right': !isConceptOpen}"></i>
</accordion-heading>



<table>

	<tr>
		<td style="vertical-align: top; padding: 5px;"><strong>Id</strong></td>
		<td style="vertical-align: top; padding: 5px;">{{concept.terminology}},{{concept.terminologyId}}
			&nbsp<a href=""><i
				class="glyphicon glyphicon-info-sign" ng-click="openConceptBrowser()"></i></a>
		</td>
	</tr>
	<tr>
		<td style="vertical-align: top; padding: 5px;"><strong>Name</strong></td>
		<td style="vertical-align: top; padding: 5px;">{{concept.defaultPreferredName}}</td>
	</tr>


</table>
</accordion-group> </accordion>

<!--  ENTRIES PANEL -->
<accordion> 
	<accordion-group is-open="isEntriesOpen">
		<accordion-heading> Entries <i
			class="pull-right glyphicon"
			ng-class="{'glyphicon-chevron-down': isEntriesOpen, 'glyphicon-chevron-right': !isEntriesOpen}"></i>
		</accordion-heading>

		<div ng-show="project.groupStructure == true">
		
			<accordion close-others="false">
		
			<div ui-sortable ng-model="groups">
		
				<!--  first-level accordion groups -->
				<accordion-group ng-repeat="group in groups" is-open="true">
		
				<accordion-heading> <span
					style="text-align: left;">Map Group <span
					ng-show="entries[group].length == 0"> &nbsp <i
        class="glyphicon glyphicon-remove"
						ng-click="removeMapGroup(group)"></i>
				</span>
				</span> <span class="pull-right"><i class="glyphicon glyphicon-move"></i></span>
				</accordion-heading>
		
		
		
				<div ui-sortable ng-model="entries[group]">
					<div ng-repeat="entry in entries[group] track by entry.localId"
						ng-class="{'alert alert-warning': !entry.isSelected, 'alert alert-success': entry.isSelected}"
						disabled>
		
		
						<a ng-click="selectMapEntry(entry, group)">{{getEntrySummary(entry)}}</a>
		
						<div style="display: inline; float: right; width: 3%;">
							<i class="glyphicon glyphicon-remove"
								ng-click="deleteMapEntry(entry, group)"></i>
						</div>
		
						</p>
					</div>
					<!--  end sortable entries -->
					<br> 
					
				
					
					<input class="pull-right" type="submit"
						value="Add Map Entry" ng-click="entry = addMapEntry(group)">
				</div>
				
				</accordion-group>
				<!--  end Group accordion group -->
		
			</div>
			<!--  end sortable groups -->
		
			<p></p>
		
		
			</accordion>
			<!--  end group accordion -->
		
			<input type="submit" value="Add Map Group" ng-click="addMapGroup()">
		
			<!-- Temporary key for use in testing -->
			<div class="pull-right">
			Entry Legend: <span style="padding: 3px; background-color:#dff0d8;"><span style="color:#428bca;">Currently Editing</span></span>
			<span style="padding: 3px; background-color:#fcf8e3;""><span style="color:#428bca;">Other Entries</span></span>
			</div>
		</div>

<!--  for no group structure in project -->
<div ng-show="project.groupStructure == false"">

	<div ui-sortable ng-model="entries">
		<p ng-repeat="entry in entries" ng-click="selectMapEntry(entry)">
			<a ng-show="entry.targetId != null && entry.targetId != ''"> <span
				ng-show="project.ruleBased == 'true'">[{{entry.ruleSummary}}]</span>
				{{entry.targetId}} {{entry.targetName}}
			</a> <a ng-show="entry.targetId == null || entry.targetId === ''">[Empty
				Entry]</a>


		</p>
	</div>
	<br> <input class="pull-right" type="submit" value="Add Map Entry"
		ng-click="entry = addMapEntry(1)">
</div>

</accordion-group> <!--  end entries accordion group --> </accordion>
<!--  end entries accordion -->

<!--  NOTES PANEL -->
<accordion> <accordion-group is-open="isNotesOpen">
<accordion-heading> Notes <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': isNotesOpen, 'glyphicon-chevron-right': !isNotesOpen}"></i>
</accordion-heading>

<div ng-show="record.mapNote.length > 0">
	<div ng-repeat="note in record.mapNote">
		<div class="alert alert-warning" disabled>
		<i class="glyphicon glyphicon-remove pull-right"
					ng-click="removeRecordNote(record, note)"></i>
			[By <a href="mailto:{{user.email}}">{{note.user.userName}}</a> on {{note.timestamp | date:'MM-dd-yyyy HH:mm'}}] 
			<div style="padding-left:20px;" ng-bind-html="to_trusted(note.note)"></div>
				
		</div>
	</div>
	<hr>
</div>

<span style="color: red">{{errorAddRecordNote}}</span>

	<!--  tinymce text area -->
	<form method="post">
    	<textarea id="tinymce" ui-tinymce="tinymceOptions" ng-model="noteInput"></textarea>
   
    	<input class="pull-right" type="submit"  accesskey="a" value="Add Note"
		ng-click="addRecordNote(record, noteInput); noteInput = ''">
		<span class="pull-right"> Shortcut to add note: <code>Tab</code>, <code>Enter</code>&nbsp&nbsp</span>
  	</form>

	
	
	<!-- Original text area box
	<textarea style="width: 100%;" ng-model="noteInput" name="noteInputTextArea"></textarea>
	 -->
	 
	 
</accordion-group> </accordion>

<!--  PRINCIPLES PANEL -->
<accordion> <accordion-group is-open="isPrinciplesOpen">
<accordion-heading> Principles <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': isPrinciplesOpen, 'glyphicon-chevron-right': !isPrinciplesOpen}"></i>

</accordion-heading>

<div ng-show="record.mapPrinciple.length > 0">
	<div ng-repeat="principle in record.mapPrinciple">
		<div class="alert alert-warning">
			<div style="display: inline; float: left; width: 7%">
				{{principle.principleId}}:</div>
			<div style="display: inline;" class="dropdown">
				<a class="dropdown-toggle"> <i
					class="glyphicon glyphicon-info-sign"></i>
				</a> {{principle.name}}
				<div class="dropdown-menu">
					<p>Reference: {{principle.sectionRef}}</p>
					<p ng-bind-html="to_trusted(principle.detail)"></p>
				</div>
			</div>
			<div style="display: inline; float: right; width: 3%;">
				<i class="glyphicon glyphicon-remove"
					ng-click="removeRecordPrinciple(record, principle)"></i>
			</div>
		</div>
	</div>
	<hr>
</div>
<span style="color: red">{{errorAddRecordPrinciple}}</span>
<form>
	Add Principle: <select style="width: 75%;"
		ng-change="addRecordPrinciple(record, principleInput)"
		ng-model="principleInput"
		ng-options="principle as principle.principleId + ':  ' + principle.name for principle in project.mapPrinciple | filter:$viewValue | limitTo:8"></select>
</form>
<hr>
<div ng-show="project.mapPrincipleSourceDocument != null">
	Principles taken from <a
		href="doc/{{project.mapPrincipleSourceDocument}}" target="_blank">Map
		Principles Document</a>
</div>
</accordion-group> </accordion>

<!--  FLAGS PANEL -->
<accordion> <accordion-group is-open="isFlagsOpen">
<accordion-heading> Flags <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': isFlagsOpen, 'glyphicon-chevron-right': !isFlagsOpen}"></i>
</accordion-heading> <input type="checkbox" disabled ng-model="record.flagForConsensusReview">
<span style="color:grey;">Flag for consensus review (not yet available)</span><br>
<input type="checkbox" disabled ng-model="record.flagForEditorialReview">
<span style="color:grey;">Flag for editorial review  (not yet available)</span><br>
<input type="checkbox" ng-model="record.flagForMapLeadReview"
	ng-show="page != 'resolveConflictsDashboard'"> Flag for map
lead review<br>

</accordion-group> </accordion>

<button class="btn btn-sm btn-primary" ng-click="finishMapRecord(true)">Finish</button>
<button class="btn btn-sm btn-primary"
	ng-show="page != 'resolveConflictsDashboard'"
	ng-click="finishMapRecord(false)">Finish/Next</button>
<button class="btn btn-sm btn-primary" ng-click="displayMapRecord()">Display</button>
<button class="btn btn-sm btn-warning" ng-click="cancelMapRecord()">Cancel</button>

<button class="btn btn-sm btn-primary" style="float: right;"
	ng-click="saveMapRecord(true)">Save For Later</button>

<p></p>
<p></p>
<span style="color: green;">{{recordSuccess}}</span>
<span style="color: red;">{{recordError}}</span>
<span style="color: red;" ng-show="validationResult.errors.length > 0">
	Errors detected:
	<ul>
		<li ng-repeat="error in validationResult.errors">{{error}}</li>
	</ul>
</span>
<span style="color: orange;"
	ng-show="validationResult.warnings.length > 0"> Warnings:
	<ul>
		<li ng-repeat="warning in validationResult.warnings">{{warning}}</li>
	</ul>
	<div ng-show="savedValidationWarnings.length > 0">
		<p></p>
		<strong>To ignore warnings, click Finish or Finish/Next</strong>
	</div>
</span>



