<!-- Partial for project list -->
Filter Results: <input ng-model="query"> (Examples: <em>ICD10, Rory, 447562003</em>)

<p><em>Note (1/2/2013):</em> Due to the limitations of the sample data, only the SNOMEDCT to ICD10 project has Records viewable in project details.</p>

<accordion>
    <accordion-group ng-repeat="project in projects | filter:query"> <!--  | orderBy:orderProp"> -->
    	<accordion-heading><h3>{{project.objectId}}: {{project.name}}</h3></accordion-heading>

    	<p></p>
		<p>Source Terminology: {{project.sourceTerminology}}, v. {{project.sourceTerminologyVersion}}</p>
		<p>Destination Terminology: {{project.destinationTerminology}}, v. {{project.destinationTerminologyVersion}}</p>
		<p>RefSet Id: {{project.refSetId}}
		<p>Published: {{project.published}}</p>
		<p>Block Structure: {{project.blockStructure}}</p>
		<p>Group Structure: {{project.groupStructure}}</p>
		
		<p></p>
		<p><a href="index.html#/project/id/{{project.objectId}}">View full details</a></p>	
   	</accordion-group>
</accordion>

{{error}}



