Testing xml map adapter:

<ul>
<li ng-repeat="entry in map.entries">{{entry.key}} - {{entry.value}}</li>
</ul>

Code:  Annotating the Map

<pre><code>
@XmlRootElement(name = "mapTest")
public class MapXmlTestJpa implements MapXmlTest {

	Map<String, String> map = new HashMap<String, String>();
	
	public MapXmlTestJpa() {
		
		map.put("key1", "value1");
		map.put("key2", "value2");
		map.put("key3", "value3");
	}

	<strong>@XmlJavaTypeAdapter(MapAdapter.class)</strong>
	@XmlElement(name = "map")
	public Map<String, String> getMap() {
		return map;
	}

	public void setMap(Map<String, String> map) {
		this.map = map;
	}
}
</code></pre>


<p>Code: The Json result
<p><pre><code>{"map":{"entries":[{"key":"key1","value":"value1"},{"key":"key2","value":"value2"},{"key":"key3","value":"value3"}]}}</code></pre>

