<form>
  MapProject Id: <input type="text" id="mapadminProjectId"
    ng-model="adminProjectId">
  <button type="submit" ng-click="getAdminProject(adminProjectId)">Retrieve</button>

</form>
<div ng-show="errorMsg != null" class="alert alert-danger" style="width: 25%">{{errorMsg}}</div>

<div ng-show="adminProject != null">

  <hr>

  <button class="btn btn-sm btn-primary" ng-click="copyAdminProject()">Copy</button>
  <button ng-show="editingPerformed == true" class="btn btn-sm btn-primary"
    ng-click="updateAdminProject()">Update</button>
  <div ng-show="editingPerformed == true" class="alert alert-warning"
    style="width: 25%; display: inline;">Unsaved Changes</div>
  <div ng-show="successMsg != null" class="alert alert-success"
    style="width: 25%; display: inline">{{successMsg}}</div>

  <button class="btn btn-sm btn-danger pull-right"
    ng-click="deleteAdminProject()">Delete Project {{adminProject.id}}</button>

  <hr>
  <table class="table table-bordered" cellpadding=5>
    <tbody>
      <tr>
        <td width="18%"><div tooltip-placement="right"
            tooltip="Display name of this map project.">
            <b>Name</b>
          </div></td>
        <td width="82%"><textarea style="width: 33%"
            ng-change="setEditingPerformed()" ng-model="adminProject.name"></textarea>
      </tr>
      <tr>
        <td width="18%"><div tooltip-placement="right"
            tooltip="Abbreviation and version information for the terminology this map adminProject is mapping from.">
            <b>Source Terminology</b>
          </div></td>
        <td width="82%"><textarea style="width: 33%"
            ng-change="setEditingPerformed()"
            ng-model="adminProject.sourceTerminology"></textarea>, <textarea
            style="width: 33%" ng-model="adminProject.sourceTerminologyVersion"></textarea></td>
      </tr>
      <tr>
        <td width="18%"><div tooltip-placement="right"
            tooltip="Abbreviation and version information for the terminology this map adminProject is mapping to.">
            <b>Destination Terminology</b>
          </div></td>
        <td width="82%"><textarea style="width: 33%"
            ng-change="setEditingPerformed()"
            ng-model="adminProject.destinationTerminology"></textarea>, <textarea
            style="width: 33%" ng-change="setEditingPerformed()"
            ng-model="adminProject.destinationTerminologyVersion"></textarea></td>
      </tr>
      <tr>
        <td width="18%"><div tooltip-placement="right"
            tooltip="The RF2 metadata concept identifier and preferred name representing this map adminProject.">
            <b>Ref Set</b>
          </div></td>
        <td width="82%"><textarea style="width: 33%"
            ng-change="setEditingPerformed()" ng-model="adminProject.refSetName"></textarea>,
          <textarea style="width: 33%"
            ng-change="checkRefSetId();setEditingPerformed()"
            ng-model="adminProject.refSetId"></textarea>
          <div class="alert alert-danger" style="display: inline"
            ng-show="isDuplicateRefSetId == true">Duplicate Ref Set Id!</div>
          <div class="alert alert-warning" style="display: inline"
            ng-show="adminProject.refSetId == null || adminProject.refSetId.length == 0">You
            must specify a Ref Set Id</div></td>
      </tr>
      <tr>
        <td><div tooltip-placement="right"
            tooltip="A true/false indicator of whether this mapping data has been published.">
            <b>Published</b>
          </div></td>
        <td><select ng-model="adminProject.published"
          ng-change="setEditingPerformed()"
          ng-options="item for item in [true, false]">
        </select></td>
      </tr>
      <tr>
        <td><div tooltip-placement="right"
            tooltip="A true/false indicator of whether this map adminProject has multiple mappings for the same source concept.">
            <b>Group Structure</b>
          </div></td>
        <td><select ng-model="adminProject.groupStructure"
          ng-change="setEditingPerformed()"
          ng-options="item for item in [true, false]"></td>
      </tr>
      <tr>
        <td><div tooltip-placement="right"
            tooltip="A true/false indicator of whether this map adminProject uses rules other than TRUE">
            <b>Rule Based</b>
          </div></td>
        <td><select ng-model="adminProject.ruleBased"
          ng-change="setEditingPerformed()"
          ng-options="item for item in [true, false]">
        </select></td>
      </tr>
      <tr>
        <td><div tooltip-placement="right"
            tooltip="The method by which this adminProject uses the map relation (i.e. map record based, relationship based)">
            <b>Relation Style</b>
          </div></td>
        <td><textarea ng-change="setEditingPerformed()" style="width: 33%"
            ng-model="adminProject.mapRelationStyle"></textarea></td>
      </tr>
      <tr>
        <td><div tooltip-placement="right"
            tooltip="The type of mapping this adminProject uses (i.e. simple, complex, extended)">
            <b>Map Type</b>
          </div></td>
        <td><textarea ng-change="setEditingPerformed()" style="width: 33%"
            ng-model="adminProject.mapRefsetPattern"></textarea></td>
      </tr>
      <tr>
        <td><div tooltip-placement="right"
            tooltip="The type of workflow this adminProject uses (i.e. conflict, review)">
            <b>Workflow Type</b>
          </div></td>
        <td><textarea ng-change="setEditingPerformed()" style="width: 33%"
            ng-model="adminProject.workflowType"></textarea></td>

      </tr>
    </tbody>
  </table>


</div>

{{adminProject}}
