<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="rollingfile" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="ActiveFileName" value="/var/opt/snomed-release-service-api/logs/api.log"/>
			<param name="FileNamePattern" value="/var/opt/snomed-release-service-api/logs/api.%d{yyyy-MM}.log.gz"/>
			<param name="maxBackupIndex" value="14"/>
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="-5p %c{1} - %m%n"/>
		</layout>
	</appender>
	<logger name="org.ihtsdo" additivity="false">
		<level value="info" />
		<appender-ref ref="console"/>
	</logger>
	<root>
		<level value="info" />
		<appender-ref ref="rollingfile"/>
	</root>
</log4j:configuration>
