<form ng-submit="retrieveEditedWork(1, queryTerms)">

	
	<div class="col-xs-2">
		<p class="input-group input-group-sm">
			<input type="text" id="editQueryInput" ng-model="queryTerms.input">
		</p>
	</div>

	<div class="col-xs-4">
		<p class="input-group input-group-sm">
			<input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
				ng-model="queryTerms.dateRangeStart" is-open="dateRangeStart.opened" 
				datepicker-options="dateOptions" ng-required="false" 
				close-text="Close" alt-input-formats="altInputFormats"
				placeholder="Start Date {{dateFormat}}">
			<span class="input-group-btn">
				<span class="btn btn-default" ng-click="openDateRangeStart()">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
			</span>
			<input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
				ng-model="queryTerms.dateRangeEnd" is-open="dateRangeEnd.opened" 
				datepicker-options="dateOptions" ng-required="false" 
				close-text="Close" alt-input-formats="altInputFormats"
				placeholder="End Date {{dateFormat}}">
			<span class="input-group-btn">
				<span class="btn btn-default" ng-click="openDateRangeEnd()">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
			</span>
		</p>
	</div>

	<button type="submit" class="btn btn-xs btn-primary">Search</button>
	<span class="btn btn-xs btn-primary" ng-click="clearSearch(); queryTerms = ''">Reset</span>
	<a>
		<i class="glyphicon glyphicon-info-sign" tooltip-placement="top"
			uib-tooltip="You may search by concept id or terms in the concept's name (e.g. closed fracture, 704020004, ...). Only exact phrases will match, e.g. 'phalanx thumb' will not match the phrase 'phalanx of thumb'.  AND/OR/NOT operators are not supported.">
		</i>
	</a>
	&nbsp;&nbsp;{{totalRecords}} results, page {{recordPage}} of {{numRecordPages}}
	
</form>
<br>

<div ng-show="searchPerformed == false" class="alert alert-warning" disabled>Enter
  search terms, or leave blank to search all edited work.</div>

<div ng-show="editedRecords.length == 0 && searchPerformed == true"
  style="width: 30%; padding: 10px;" class="alert alert-in" disabled>No
  concepts found.</div>

<uib-pagination 
	previous-text="&lsaquo;" next-text="&rsaquo;"
	first-text="&laquo;"  last-text="&raquo;" 
	total-items="totalRecords" ng-model="recordPage" max-size="recordsPerPage" 
	class="pagination-sm" boundary-links="true" rotate="true"
	ng-change="retrieveEditedWork(recordPage, queryTerms)">
</uib-pagination>

<table class="table pointer" ng-show="editedRecords.length > 0">
  <thead>
    <tr>
      <th ng-click="setSortField('lastModified')">Date Edited<span ng-bind="getSortIndicator('lastModified')"></span></th>
      <th>User Name</th>
      <th>Workflow Status</th>
      <th ng-click="setSortField('conceptId')">Concept Id<span ng-bind="getSortIndicator('conceptId')"></span></th>
      <th ng-click="setSortField('conceptName')">Concept Name<span ng-bind="getSortIndicator('conceptName')"></span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in editedRecords">
      <td style="width: 10%">{{record.lastModified | date: 'MM/dd/yyyy hh:mm:ss'}}</td>
      <td style="width: 10%">
      {{record.owner.userName}}
      </td>
      <td style="width: 10%">
      {{record.workflowStatus}}
      </td>
      <td style="width: 10%">
        <a href="#/record/conceptId/{{record.conceptId}}">{{record.conceptId}}</a>
      </td>
      <td style="width: 80%">
        <a ng-click="record.isCollapsed = !record.isCollapsed">
          [
          <i
            ng-class="{'glyphicon-minus': !record.isCollapsed, 'glyphicon-plus': record.isCollapsed}"></i>
          ]
        </a>
        {{record.conceptName}}
        <div uib-collapse="record.isCollapsed == true">
          <hr>
          <div otf-map-record-wide record="record" project="focusProject"
            show-title="false"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>