<form>
MapRecord Id: <input type="text" id="mapRecordId" ng-model="mapRecordId"><button type="submit" ng-click="getRecord(mapRecordId)">Retrieve</button>
</form>
<div ng-show = "record != null">
	<hr>
	<div otf-map-record-wide record="record" project="project" show-title="true"></div>
	
	<table class="table">
		<tr>
			<td >Owner</td><td>{{record.owner.name}}</td>
		</tr>
		<tr>
			<td>Last Modified By</td><td>{{record.lastModifiedBy.name}}</td>
		</tr>
		<tr>
			<td>Last Modified</td><td>{{record.lastModified | date : 'short'}}</td>
		</tr>
		<tr>
			<td>Workflow Status</td><td>{{record.workflowStatus}}</td>
		</tr>
	</table>
	
	<button class="btn btn-sm btn-danger" ng-click="deleteRecord()">Delete</button>
</div>