<form role="form">
  <div class="form-group">
    <label for="terminology">Terminology</label>
    <input type="terminology" class="form-control" id="terminology" ng-model="config.terminology" placeholder="Enter terminology">
  </div>
  <!-- <select ng-model="terminology" ng-options="keyValuePair.key for keyValuePair in termVersionPairs.keyValuePair"></select>
  --> <select ng-model="terminology" ng-options="currOption for currOption in ['SNOMEDCT', 'ICD10', 'ICD9CM']"></select>  
    
    
    <ul>
<li ng-repeat = "keyValuePair in termVersionPairs.keyValuePair"> {{keyValuePair.key}}</li>
</ul> 
  
</form>