

<div>
{{errorMetadata}} 
<h5>Terminology: {{config.terminology}}</h5>
<accordion> <accordion-group
  ng-repeat="keyValuePairList in keyValuePairLists | filter:query  | orderBy:keyValuePairList.name">
<accordion-heading>
<h5>{{keyValuePairList.name}}</h5>
</accordion-heading>

<p></p>
<table class="table table-bordered" cellpadding=5>
  <tr>
    <th width="40%">Id</th>
    <th width="60%">Name</th>
  </tr>
  <tbody>
    <tr ng-repeat="keyValuePair in keyValuePairList.keyValuePair">
      <td width="40%">{{keyValuePair.key}}</td>
      <td width="60%">{{keyValuePair.value}}</td>
    </tr>
  </tbody>
</table>
<p></p>
</accordion-group> </accordion>
 
<p></p>
All Terminology Versions:
<p>{{latestTerminologiesStatus}}</p>
<ul>
<li ng-repeat = "keyValuePair in termVersionPairs.keyValuePair"> {{keyValuePair.key}} {{keyValuePair.value}}</li>
</ul> 
</div>