<!--  Empty div used to scroll after target selection via terminology browser -->
<div id="mapEntryWidgetTop"></div>

<div ng-show="entry == null">
  <h4>No entry selected</h4>
</div>

<div ng-show="entry != null">

  <accordion> <accordion-group is-open="isTargetOpen">
  <accordion-heading> Target<i class="pull-right glyphicon"
    ng-class="{'glyphicon-chevron-down': isTargetOpen, 'glyphicon-chevron-right': !isTargetOpen}"></i>
  </accordion-heading>

  <table style="width: 100%;">

    <tr>
      <td style="vertical-align: top; padding: 5px;">
        <strong>Target Code</strong>
      </td>
      <td style="padding: 5px;">
        <form ng-submit="setTarget(entry.targetId)">
          {{project.destinationTerminology}}, <input style="width: 125px;"
            id="targetIdField" placeholder="Enter target code"
            ng-blur="setTarget(entry.targetId)" ng-model="entry.targetId" />
          <!-- set button is just a dummy, because of ng-blur -->
          <button class="btn btn-xs btn-primary" type="submit">Set</button>
          <!-- set empty target needed -->
          <span class="btn btn-xs btn-primary"
            ng-show="entry.targetId == null || entry.targetId === ''"
            ng-click="setTarget(entry.targetId)">Set Empty Target</span>
          <span class="btn btn-xs btn-warning" ng-show="entry.targetId != null"
            ng-click="clearTargetConcept(entry);mapRelationInput = null;getValidTargetError = null;">Clear</span>
        </form>
        <span style="color: red" ng-show="getValidTargetError != null">{{getValidTargetError}}</span>
    </tr>
    <tr>
      <td
        style="vertical-align: top; padding: 5px; width: 50px; white-space: nowrap;">
        <strong>Preferred Term</strong>
      </td>
      <td style="vertical-align: top; padding: 5px;">
        <span ng-show="entry.targetId != null">{{entry.targetName}}</span>
        <span style="color: orange;" ng-show="entry.targetId == null">You
          must specify a valid or empty target. </span>
      </td>
    </tr>

  </table>

  </accordion-group> </accordion>

  <accordion ng-show="project.mapRefsetPattern != 'SimpleMap'"> <accordion-group
    is-open="isParametersOpen"> <accordion-heading>
  Mapping Parameters <i class="pull-right glyphicon"
    ng-class="{'glyphicon-chevron-down': isParametersOpen, 'glyphicon-chevron-right': !isParametersOpen}"></i>
  </accordion-heading>

  <table style="padding: 5px">

    <tr>
      <td style="vertical-align: top; padding: 5px; width: 50px;">
        <strong>Relation</strong>
      </td>
      <td style="vertical-align: top; padding: 5px;">
        <span ng-show="entry.mapRelation != null">{{entry.mapRelation.name}}</span>
        <span style="color: lightgray;" ng-show="entry.mapRelation == null">No
          relation selected.</span>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; padding: 5px; width: 50px;"></td>
      <td style="vertical-align: top; padding: 5px;">
        Set relation: <select ng-show="allowableMapRelations.length > 0"
          style="width: 80%" ng-model="mapRelationInput"
          ng-change="selectMapRelation(mapRelationInput); mapRelationInput = null;"
          ng-options="mapRelation as mapRelation.displayName for mapRelation in allowableMapRelations"></select>
        <span style="color: lightgray;"
          ng-show="allowableMapRelations.length == 0">No relations
          available to select.</span>
      </td>
    </tr>

    <tr ng-show="project.ruleBased == true">
      <td style="vertical-align: top; padding: 5px; width: 50px;">
        <strong>Rule</strong>
      </td>
      <td style="vertical-align: top; padding: 5px;">
        <span>{{entry.rule}}&nbsp;</span>
        <span ng-show="entry.rule.length > 0">
          <button class="btn btn-xs btn-primary"
            ng-click="openRuleConstructor(entry)">Set Rule</button>
        </span>
        <div style="color: red">{{localErrorRule}}</div>
      </td>
    </tr>

    <tr ng-show="allowableAdvices.length > 0">
      <td ng-show="entry.targetId != null && entry.targetId != ''"
        style="vertical-align: top; padding: 5px;">
        <strong>Advice</strong>
      </td>
      <td ng-show="entry.targetId != null && entry.targetId != ''"
        style="vertical-align: top; padding: 5px;">
        <div ng-show="entry.mapAdvice.length > 0">
          <div ng-repeat="advice in entry.mapAdvice">
            <div class="alert alert-warning">
              <div style="display: inline;">{{advice.detail}}</div>
              <div style="display: inline; float: right; width: 3%;">
                <i class="glyphicon glyphicon-remove"
                  ng-click="removeEntryAdvice(entry, advice)"></i>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <span style="color: red">{{errorAddAdvice}}</span>
        <form ng-show="entry.targetId != null && entry.targetId != ''">
          Add Advice: <select style="width: 60%;"
            ng-change="addEntryAdvice(entry, adviceInput);adviceInput=null;"
            ng-model="adviceInput"
            ng-options="advice as advice.detail for advice in allowableAdvices"></select>
        </form>
      </td>
    </tr>
  </table>
  </accordion-group> </accordion>
</div>
