<div class="modal-header">
  <h3>Unassign Work for {{mapUserToUnassign.name}}</h3>
</div>

<div class="modal-body">

  <div ng-show="isMapLead == true">

    Select type of work you wish to return:
    <form>
      <input type="checkbox" ng-model="unassignAll"
        ng-change="selectAll(unassignAll)"> All <input type="checkbox"
        ng-model="unassignConcepts" ng-change="unassignAll = false">
      Concepts <input type="checkbox" ng-model="unassignConflicts"
        ng-change="unassignAll = false"> Conflicts <input
        type="checkbox" ng-model="unassignReviewWork"
        ng-change="unassignAll = false"> Review Work <input
        type="checkbox" ng-model="unassignQAWork"
        ng-change="unassignAll = false"> QA Work
    </form>
    <hr>
  </div>

  Select what stage of work you wish to return:
  <form>
    <input type="radio" ng-model="unassignEditedWork" value="Unedited">
    Only unedited work (new assignments)<br> <input type="radio"
      ng-model="unassignEditedWork" value="All"> All work. <strong>This
      will delete any incomplete/saved work!</strong>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-xs btn-primary"
    ng-click="ok(unassignEditedWork, unassignConcepts, unassignConflicts, unassignReviewWork, unassignQAWork)">Unassign</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>