
<tabset> <tab heading="{{tabs[0].title}}"
	active="tabs[0].active" select="setTab(0)"> <!--  do not display controls if no records are assigned and the query term is null -->

	<table style="margin-top: 10px;">
	<tr>
      	<td style="padding: 5px";>Filter concepts:</td>
      	<td style="padding: 5px;">
			<form>
				<input id="assignedSearch" ng-model="queryAssigned">
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedWork(1, queryAssigned)">Search</button>
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedWork(1, 'null'); queryAssigned = null">Reset</button>
			</form>
	  	</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<form>
				<input type="radio" ng-model="assignedWorkType" value="ALL" ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">All</input>
				<input type="radio" ng-model="assignedWorkType" value="NEW" ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">New</input>
				<input type="radio" ng-model="assignedWorkType" value="EDITING_IN_PROGRESS" ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">Editing</input>
				<input type="radio" ng-model="assignedWorkType" value="EDITING_DONE" ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">Finished</input>
			</form>
		</td>
	</tr>
	</table>

	
		

<div ng-show="nAssignedRecords > 0">
	<pagination ng-show="numAssignedRecordPages > 1"
	total-items="nAssignedRecords" page="assignedWorkPage"
	class="pagination-sm" max-size="5" boundary-links="true" rotate="true"
	num-pages="numAssignedRecordPages"
	on-select-page="retrieveAssignedWork(page, queryAssigned, assignedWorkType)"></pagination>


<table class="table" style="margin-top:10px;">

	<thead>
		<tr>
			<th style="width: 3%; padding: 5px;"></th>
			<th style="width: 14%; padding: 5px;">Id</th>
			<th style="width: 80%; padding: 5px;">Preferred Name</th>
			<th style="width: 3%; padding: 5px;"><a title="Return All Work"
				ng-click="openUnassignModal(currentUser, 'concepts')"><i
					class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i></a>
			</th>

		</tr>

	</thead>

	<tbody>
        <tr ng-repeat="result in assignedRecords">
        
   
        

			<td style="width: 3%; padding: 5px;">
				<!-- Display a pushpin if this record has previously been edited -->
				<a title='Continue working on this concept'
				ng-show="result.terminologyVersion === 'EDITING_IN_PROGRESS'"> <i
					ng-click="goEditRecord(result.id)"
					class="glyphicon glyphicon-pushpin"></i>
			</a> <!-- Display a pencil if this record has not yet been edited --> <a
				title='Start work on this concept'
				ng-show="result.terminologyVersion === 'NEW'"> <i
					ng-click="goEditRecord(result.id)"
					class="glyphicon glyphicon-pencil"></i>
			</a>
			<!-- Display a saved icon if this record has been marked finished--> <a
				title='Re-edit this finished concept'
				ng-show="result.terminologyVersion === 'EDITING_DONE'"> <i
					ng-click="goEditRecord(result.id)"
					class="glyphicon glyphicon-saved"></i>
			</a>


			</td>

			<td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>
			<td style="width: 80%; padding: 5px;">{{result.value}}</td>
			<td style="width: 3%; padding: 5px;"><a title="Return"
				ng-click="unassignWork(result, currentUser)"><i
					class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i></a></td>
	</tr>
  </tbody>


</table>

</div>
  
  <div style="padding: 10px;"
		ng-show="nAssignedRecords == 0">
		<p></p>
		<div style="padding:10px;" class="alert alert-warning" disabled> No concepts found.</div>
	</div>

</tab> 

<tab heading="{{tabs[1].title}}" active="tabs[1].active" select="setTab(1)"
	ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">
	
	
	
	<table style="margin-top: 10px; margin-bottom: 10px;">
	<tr>
      	<td style="padding: 5px";>Filter concepts:</td>
      	<td style="padding: 5px;">
			<form>	
				<input id="conflictSearch" ng-model="queryConflict">
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedConflicts(1, queryConflict, assignedConflictType)">Search</button>
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedConflicts(1, 'null'); queryConflict = null">Reset</button>
			</form>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<form>
				<input type="radio" ng-model="assignedConflictType" value="ALL" ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">All</input>
				<input type="radio" ng-model="assignedConflictType" value="CONFLICT_NEW" ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">New</input>
				<input type="radio" ng-model="assignedConflictType" value="CONFLICT_IN_PROGRESS" ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">Editing</input>
			</form>
		</td>
	</tr>
	</table>
	
	<!--  do not display table if no records are assigned and the query term is null -->
	<div style="padding:10px;"
		ng-show="nAssignedConflicts == 0">
		<p></p>
		<div class="alert alert-warning" disabled> No conflicts found.</div>
	</div>

	<div ng-show="nAssignedConflicts > 0">
	
<pagination total-items="nAssignedConflicts" ng-show="numAssignedConflictsPages > 1"
	page="assignedConflictsPage" class="pagination-sm"
	boundary-links="true" rotate="true"
	num-pages="numAssignedConflictsPages" max-size="5"
	on-select-page="retrieveAssignedConflicts(page, user, queryConflict)"></pagination>

<table class="table">

	<thead>
		<tr>
			<th style="width: 3%; padding: 5px;"></th>
			<th style="width: 14%; padding: 5px;">Id</th>
			<th style="width: 80%; padding: 5px;">Preferred Name</th>
			<th style="width: 3%; padding: 5px;"><a title="Return All Work"
				ng-click="openUnassignModal(currentUser, 'conflicts')"><i
					class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
					</a></th>

		</tr>

	</thead>

	<tbody>

		<tr ng-repeat="result in assignedConflicts">

			<td style="width: 3%; padding: 5px;"><a title="Edit">
			
			<!-- Display a pushpin if this record has previously been edited -->
				<a title='Continue working on this conflict'
				ng-show="result.terminologyVersion === 'CONFLICT_IN_PROGRESS'"> <i
					ng-click="goEditConflict(result.id)"
					class="glyphicon glyphicon-pushpin"></i>
			</a> <!-- Display a pencil if this record has not yet been edited --> <a
				title='Start work on this conflict'
				ng-show="result.terminologyVersion === 'CONFLICT_NEW'"> <i
					ng-click="goEditConflict(result.id)"
					class="glyphicon glyphicon-pencil"></i>
			</a>
			</td>

			<td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>
			<td style="width: 80%; padding: 5px;">{{result.value}}</td>
			<td style="width: 3%; padding: 5px;"><a title="Return"
				ng-click="unassignWork(result, currentUser)"><i
					class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i></a></td>
		</tr>
	</tbody>



</table>

<div ng-show="assignedConflicts.length == 0 && searchPerformed">No concepts matched the search.</div>
</div>

</div>


</tab> 

<tab heading="{{tabs[2].title}}" active="tabs[2].active" select="setTab(2)"
	ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">
	
	
	
	<table style="margin-top: 10px; margin-bottom: 10px;">
	<tr>
      	<td style="padding: 5px";>Filter concepts:</td>
      	<td style="padding: 5px;">
			<form>	
				<input id="conflictSearch" ng-model="queryReviewWork">
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedReviewWork(1, queryReviewWork, assignedReviewWorkType)">Search</button>
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedReviewWork(1, 'null'); queryReviewWork = null">Reset</button>
			</form>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<form>
				<input type="radio" ng-model="assignedReviewWorkType" value="ALL" ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">All</input>
				<input type="radio" ng-model="assignedReviewWorkType" value="REVIEW_NEW" ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">New</input>
				<input type="radio" ng-model="assignedReviewWorkType" value="REVIEW_IN_PROGRESS" ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">Editing</input>
			</form>
		</td>
	</tr>
	</table>
	
	<!--  do not display controls if no records are assigned and the query term is null -->
	<div style="padding:10px;"
		ng-show="nAssignedReviewWork == 0">
		<p></p>
		<div class="alert alert-warning" disabled> No review work found.</div>
	</div>

	<div ng-show="nAssignedReviewWork > 0">
	
<pagination total-items="nAssignedReviewWork" ng-show="numAssignedReviewWorkPages > 1"
	page="assignedReviewWorkPage" class="pagination-sm"
	boundary-links="true" rotate="true"
	num-pages="numAssignedReviewWorkPages" max-size="5"
	on-select-page="retrieveAssignedReviewWork(page, user, queryReviewWork)"></pagination>

<table class="table">

	<thead>
		<tr>
			<th style="width: 3%; padding: 5px;"></th>
			<th style="width: 14%; padding: 5px;">Id</th>
			<th style="width: 80%; padding: 5px;">Preferred Name</th>
			<th style="width: 3%; padding: 5px;"><a title="Return All Work"
				ng-click="openUnassignModal(currentUser, 'review')"><i
					class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
					</a></th>

		</tr>

	</thead>

	<tbody>

		<tr ng-repeat="result in assignedReviewWork">

			<td style="width: 3%; padding: 5px;"><a title="Edit">
			
			<!-- Display a pushpin if this record has previously been edited -->
				<a title='Continue reviewing work.'
				ng-show="result.terminologyVersion === 'REVIEW_IN_PROGRESS'"> <i
					ng-click="goEditReviewWork(result.id)"
					class="glyphicon glyphicon-pushpin"></i>
			</a> <!-- Display a pencil if this record has not yet been edited --> <a
				title='Start reviewing this work'
				ng-show="result.terminologyVersion === 'REVIEW_NEW'"> <i
					ng-click="goEditReviewWork(result.id)"
					class="glyphicon glyphicon-pencil"></i>
			</a>
			</td>

			<td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>
			<td style="width: 80%; padding: 5px;">{{result.value}}</td>
			<td style="width: 3%; padding: 5px;"><a title="Return"
				ng-click="unassignWork(result, currentUser)"><i
					class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i></a></td>
		</tr>
	</tbody>



</table>

<div ng-show="assignedConflicts.length == 0 && searchPerformed">No concepts matched the search.</div>
</div>

</div>


</tab>

<tab heading="{{tabs[3].title}}" active="tabs[3].active" select="setTab(3)"
	ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">


<table style="margin-top: 10px; margin-bottom: 10px;">
	<tr>
		<td style="padding: 5px;">View work assigned to:</td>
		<td style="padding: 5px;"><select ng-model="mapUserViewed"
			ng-options="mapUser as mapUser.name for mapUser in mapUsers track by mapUser.name"
			ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssignedForUser)">
		</select></td>
	</tr>
	<tr>
      	<td style="padding: 5px";>Filter concepts:</td>
      	<td style="padding: 5px;">
			<form>	
				<input id="assignedForUserSearch" ng-model="queryAssignedForUser">
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssignedForUser, assignedWorkForUserType)">Search</button>
				<button class="btn btn-sm btn-primary" ng-click="retrieveAssignedWorkForUser(1, mapUserViewed.userName, 'null', assignedWorkForUserType); queryAssignedForUser = null">Reset</button>
			</form>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<form>
				<input type="radio" ng-model="assignedWorkForUserType" value="ALL" ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">All</input>
				<input type="radio" ng-model="assignedWorkForUserType" value="NEW" ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">New</input>
				<input type="radio" ng-model="assignedWorkForUserType" value="EDITING_IN_PROGRESS" ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">Editing</input>
				<input type="radio" ng-model="assignedWorkForUserType" value="EDITING_DONE" ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">Finished</input>
			</form>
		</td>
	</tr>
</table>

<pagination ng-show="mapUserViewed != null && numAssignedRecordPagesForUser > 1"
	total-items="nAssignedRecordsForUser" page="assignedWorkPageForUser"
	class="pagination-sm" max-size="5" boundary-links="true" rotate="true"
	num-pages="numAssignedRecordPagesForUser"
	on-select-page="retrieveAssignedWorkForUser(page, mapUserViewed.userName, queryAssignedForUser, assignedWorkForUserType)"></pagination>

<!--  do not display controls if no records are assigned and the query term is null and a map user is selected-->
	<div style="padding:10px;"
		ng-show="nAssignedRecordsForUser == 0">
		<p></p>
		<div class="alert alert-warning" disabled> No work found.</div>
	</div>



<table class="table" ng-show = "nAssignedRecordsForUser > 0">

	<thead>
		<tr>
			<th style="width: 12%; padding: 5px;">Id</th>
			<th style="width: 60%; padding: 5px;">Preferred Name</th>
			<th style="width: 25%; padding: 5px;">Last Modified</th>
			<th style="width: 3%; padding: 5px;"><a title="Return All Work"
				ng-click="openUnassignModal(mapUserViewed, 'concepts')"><i
					class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
					</a></th>

		</tr>
	</tr>

	</thead>

	<tbody>

		<tr ng-repeat="result in assignedRecordsForUser">


			<td style="width: 12%; padding: 5px;"><a
				href="#/record/conceptId/{{result.terminologyId}}">{{result.terminologyId}}</a></td>
			<td style="width: 60%; padding: 5px;">{{result.value}}</td>
			<td style="width: 25%; padding: 5px;">{{result.terminology |
				date:'MM-dd-yyyy HH:mm'}}</td>
			<td style="width: 3%; padding: 5px;"><a title="Return"
				ng-click="unassignWork(result, mapUserViewed)"><i
					class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i></a></td>
		</tr>

	</tbody>


</table>
</tab>

</tabset>