
<tabset> <tab heading="{{tabs[0].title}}" active="tabs[0].active"
  select="setTab(0)">

<table style="margin-top: 10px;">
  <tr>
    <td style="padding: 5px";>Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="assignedSearch" ng-model="queryAssigned">
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">Search</button>
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedWork(1, 'null', assignedWorkType); queryAssigned = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedWorkType" value="ALL"
          ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">All</input>
        <input type="radio" ng-model="assignedWorkType" value="NEW"
          ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">New</input>
        <input type="radio" ng-model="assignedWorkType"
          value="EDITING_IN_PROGRESS"
          ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">Editing</input>
        <input type="radio" ng-model="assignedWorkType" value="EDITING_DONE"
          ng-change="retrieveAssignedWork(1, queryAssigned, assignedWorkType)">Finished</input>
      </form>
    </td>
  </tr>
</table>




<div ng-show="nAssignedRecords > 0">
  <pagination ng-show="numAssignedRecordPages > 1"
    total-items="nAssignedRecords" page="assignedWorkPage" class="pagination-sm"
    max-size="5" boundary-links="true" rotate="true"
    num-pages="numAssignedRecordPages"
    on-select-page="retrieveAssignedWork(page, queryAssigned, assignedWorkType)"></pagination>


  <table class="table" style="margin-top: 10px;">

    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>


        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedWorkType === 'EDITING_IN_PROGRESS'"
            title="Finish All Work"
            ng-click="finishOrPublishBatch(assignedWorkType)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>

        <th style="width: 75%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"><a title="Return All Work"
            ng-click="unassignAllWork(currentUser, 'concept', assignedWorkType, queryAssigned)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>

      </tr>

    </thead>

    <tbody>
      <tr ng-repeat="result in assignedRecords">




        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <a title='Continue working on this concept'
            ng-show="result.terminologyVersion === 'EDITING_IN_PROGRESS'">
            <i ng-click="goEditRecord(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <a title='Start work on this concept'
            ng-show="result.terminologyVersion === 'NEW'">
            <i ng-click="goEditRecord(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a saved icon if this record has been marked finished-->
          <a title='Re-edit this finished concept'
            ng-show="result.terminologyVersion === 'EDITING_DONE'
						|| result.terminologyVersion === 'CONFLICT_DETECTED'
						|| result.terminologyVersion === 'REVIEW_NEEDED'">
            <i ng-click="goEditRecord(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
          <!-- If lead has claimed their own previous work for review, don't allow clicking -->
          <a disabled title='You have claimed this concept for Lead Review'
            ng-show="result.terminologyVersion === 'REVIEW_NEW'
						|| result.terminologyVersion === 'REVIEW_IN_PROGRESS'">
            <i class="glyphicon glyphicon-ban-circle"></i>
          </a>
          <a disabled
            title='You have claimed this concept for Conflict Resolution'
            ng-show="result.terminologyVersion === 'CONFLICT_NEW'
						|| result.terminologyVersion === 'CONFLICT_IN_PROGRESS'">
            <i class="glyphicon glyphicon-ban-circle"></i>
          </a>


        </td>


        <td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>

        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark if this record has previously been edited -->
          <a style:"display:inline" title='Finish this concept'
            ng-show="result.terminologyVersion === 'EDITING_IN_PROGRESS' && assignedWorkType === 'EDITING_IN_PROGRESS'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 75%; padding: 5px;">{{result.value}}</td>




        <td style="width: 3%; padding: 5px;">
          <a title="Return"
            ng-click="unassignWork(result, currentUser, 'concept')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>


  </table>

</div>

<div style="padding: 10px;" ng-show="nAssignedRecords == 0">
  <p></p>
  <div style="padding: 10px;" class="alert alert-warning" disabled>No
    concepts found.</div>
</div>

</tab> <tab heading="{{tabs[1].title}}" active="tabs[1].active" select="setTab(1)"
  ng-show="(currentRole === 'Lead' || currentRole === 'Administrator') && focusProject.workflowType === 'CONFLICT_PROJECT'">



<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px";>Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="conflictSearch" ng-model="queryConflict">
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedConflicts(1, queryConflict, assignedConflictType)">Search</button>
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedConflicts(1, 'null', assignedConflictType); queryConflict = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedConflictType" value="ALL"
          ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">All</input>
        <input type="radio" ng-model="assignedConflictType" value="CONFLICT_NEW"
          ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">New</input>
        <input type="radio" ng-model="assignedConflictType"
          value="CONFLICT_IN_PROGRESS"
          ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">Editing</input>
        <input type="radio" ng-model="assignedConflictType"
          value="CONFLICT_RESOLVED"
          ng-change="retrieveAssignedConflicts(1, queryAssigned, assignedConflictType)">Resolved</input>
      </form>
    </td>
  </tr>
</table>

<!--  do not display table if no records are assigned and the query term is null -->
<div style="padding: 10px;" ng-show="nAssignedConflicts == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No conflicts found.</div>
</div>

<div ng-show="nAssignedConflicts > 0">

  <pagination total-items="nAssignedConflicts"
    ng-show="numAssignedConflictsPages > 1" page="assignedConflictsPage"
    class="pagination-sm" boundary-links="true" rotate="true"
    num-pages="numAssignedConflictsPages" max-size="5"
    on-select-page="retrieveAssignedConflicts(page, queryConflict, assignedConflictType)"></pagination>

  <table class="table">

    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>


        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedConflictType === 'CONFLICT_IN_PROGRESS'"
            title='Finish Editing All Conflicts'
            ng-click="finishOrPublishBatch(assignedConflictType)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a ng-show="assignedConflictType === 'CONFLICT_RESOLVED'"
            title='Publish All Resolved Conflicts'
            ng-click="finishOrPublishBatch(assignedConflictType)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>

        <th style="width: 75%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"><a
            title="Return All Conflicts"
            ng-click="unassignAllWork(currentUser, 'conflict', assignedConflictType, queryConflict)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>

      </tr>

    </thead>

    <tbody>

      <tr ng-repeat="result in assignedConflicts">

        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <a title='Re-edit this resolved conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_IN_PROGRESS'">
            <i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <a title='Start work on this conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_NEW'">
            <i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a finished icon if this record has previously been edited -->
          <a title='Continue working on this conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_RESOLVED'">
            <i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
        </td>


        <td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>
        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark to finish if in progress -->
          <a style:"display:inline" title='Resolve this conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_IN_PROGRESS' && assignedConflictType === 'CONFLICT_IN_PROGRESS'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!-- Display a checkmark to publish if this record is resolved -->
          <a style:"display:inline" title='Publish this resolved conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_RESOLVED' && assignedConflictType === 'CONFLICT_RESOLVED'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 80%; padding: 5px;">{{result.value}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return"
            ng-click="unassignWork(result, currentUser, 'conflict')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>



  </table>

  <div ng-show="assignedConflicts.length == 0 && searchPerformed">No
    concepts matched the search.</div>
</div>

</div>


</tab> <tab heading="{{tabs[2].title}}" active="tabs[2].active" select="setTab(2)"
  ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">



<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px";>Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="reviewSearch" ng-model="queryReviewWork">
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedReviewWork(1, queryReviewWork, assignedReviewWorkType)">Search</button>
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedReviewWork(1, 'null', assignedReviewWorkType); queryReviewWork = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedReviewWorkType" value="ALL"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">All</input>
        <input type="radio" ng-model="assignedReviewWorkType" value="REVIEW_NEW"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">New</input>
        <input type="radio" ng-model="assignedReviewWorkType"
          value="REVIEW_IN_PROGRESS"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">Editing</input>
        <input type="radio" ng-model="assignedReviewWorkType"
          value="REVIEW_RESOLVED"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned, assignedReviewWorkType)">Resolved</input>
      </form>
    </td>
  </tr>
</table>

<!--  do not display controls if no records are assigned and the query term is null -->
<div style="padding: 10px;" ng-show="nAssignedReviewWork == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No review work found.</div>
</div>

<div ng-show="nAssignedReviewWork > 0">

  <pagination total-items="nAssignedReviewWork"
    ng-show="numAssignedReviewWorkPages > 1" page="assignedReviewWorkPage"
    class="pagination-sm" boundary-links="true" rotate="true"
    num-pages="numAssignedReviewWorkPages" max-size="5"
    on-select-page="retrieveAssignedReviewWork(page, queryReviewWork, assignedReviewWorkType)"></pagination>

  <table class="table">

    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedReviewWorkType === 'REVIEW_IN_PROGRESS'"
            title='Finish Editing All Review Work'
            ng-click="finishOrPublishBatch(assignedReviewWorkType)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a ng-show="assignedReviewWorkType === 'REVIEW_RESOLVED'"
            title='Publish All Resolved Review Work'
            ng-click="finishOrPublishBatch(assignedReviewWorkType)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>
        <th style="width: 80%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"><a title="Return All Work"
            ng-click="unassignAllWork(currentUser, 'review', assignedReviewWorkType, queryReviewWork)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>

      </tr>

    </thead>

    <tbody>

      <tr ng-repeat="result in assignedReviewWork">

        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <a title='Continue reviewing work.'
            ng-show="result.terminologyVersion === 'REVIEW_IN_PROGRESS'">
            <i ng-click="goEditReviewWork(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <a title='Start reviewing this work'
            ng-show="result.terminologyVersion === 'REVIEW_NEW'">
            <i ng-click="goEditReviewWork(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a finished icon if this record has previously been edited -->
          <a title='Continue working on this conflict'
            ng-show="result.terminologyVersion === 'REVIEW_RESOLVED'">
            <i ng-click="goEditReviewWork(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
        </td>

        <td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>

        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark if this record has previously been edited -->
          <a style:"display:inline" title='Finish this review work'
            ng-show="result.terminologyVersion === 'REVIEW_IN_PROGRESS' && assignedReviewWorkType === 'REVIEW_IN_PROGRESS'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!-- Display a checkmark if this record has previously resolved -->
          <a style:"display:inline" title='Publish this resolved review work'
            ng-show="result.terminologyVersion === 'REVIEW_RESOLVED' && assignedReviewWorkType === 'REVIEW_RESOLVED'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 80%; padding: 5px;">{{result.value}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return"
            ng-click="unassignWork(result, currentUser, 'review')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>



  </table>

</div>


</tab> <tab heading="{{tabs[3].title}}" active="tabs[3].active" select="setTab(3)"
  ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">


<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px;">View work assigned to:</td>
    <td style="padding: 5px;">
      <select ng-model="mapUserViewed"
        ng-options="mapUser as mapUser.name for mapUser in mapUsers track by mapUser.name"
        ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssignedForUser)">
      </select>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px";>Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="assignedForUserSearch" ng-model="queryAssignedForUser">
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssignedForUser, assignedWorkForUserType)">Search</button>
        <button class="btn btn-sm btn-primary"
          ng-click="retrieveAssignedWorkForUser(1, mapUserViewed.userName, 'null', assignedWorkForUserType); queryAssignedForUser = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedWorkForUserType" value="ALL"
          ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">All</input>
        <input type="radio" ng-model="assignedWorkForUserType" value="NEW"
          ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">New</input>
        <input type="radio" ng-model="assignedWorkForUserType"
          value="EDITING_IN_PROGRESS"
          ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">Editing</input>
        <input type="radio" ng-model="assignedWorkForUserType"
          value="EDITING_DONE"
          ng-change="retrieveAssignedWorkForUser(1, mapUserViewed.userName, queryAssigned, assignedWorkForUserType)">Finished</input>
      </form>
    </td>
  </tr>
</table>

<pagination ng-show="mapUserViewed != null && numAssignedRecordPagesForUser > 1"
  total-items="nAssignedRecordsForUser" page="assignedWorkPageForUser"
  class="pagination-sm" max-size="5" boundary-links="true" rotate="true"
  num-pages="numAssignedRecordPagesForUser"
  on-select-page="retrieveAssignedWorkForUser(page, mapUserViewed.userName, queryAssignedForUser, assignedWorkForUserType)"></pagination>

<!--  do not display controls if no records are assigned and the query term is null and a map user is selected-->
<div style="padding: 10px;" ng-show="nAssignedRecordsForUser == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No work found.</div>
</div>



<table class="table" ng-show="nAssignedRecordsForUser > 0">

  <thead>
    <tr>
      <th style="width: 12%; padding: 5px;">Id</th>
      <th style="width: 60%; padding: 5px;">Preferred Name</th>
      <th style="width: 25%; padding: 5px;">Last Modified</th>
      <th style="width: 3%; padding: 5px;"><a title="Return All Work"
          ng-click="unassignAllWork(mapUserViewed, 'concept', assignedWorkForUserType, queryAssignedForUser)">
          <i
            class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
        </a></th>

    </tr>
    </tr>

  </thead>

  <tbody>

    <tr ng-repeat="result in assignedRecordsForUser">


      <td style="width: 12%; padding: 5px;">
        <a href="#/record/conceptId/{{result.terminologyId}}">{{result.terminologyId}}</a>
      </td>
      <td style="width: 60%; padding: 5px;">{{result.value}}</td>
      <td style="width: 25%; padding: 5px;">{{result.terminology |
        date:'MM-dd-yyyy HH:mm'}}</td>
      <td style="width: 3%; padding: 5px;">
        <a title="Return"
          ng-click="unassignWork(result, mapUserViewed, 'conceptsByUser')">
          <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
        </a>
      </td>
    </tr>

  </tbody>


</table>
</tab> <tab heading="{{tabs[4].title}}" active="tabs[4].active" select="setTab(4)">



<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px;">Filter by label:</td>
    <td style="padding: 5px;">
      <select ng-model="queryQaWork"
        ng-change="retrieveAssignedQAWork(1, 	queryQaWork, assignedQAWorkType);"
        ng-options="lbl for lbl in labelNames">
      </select>
      <button class="btn btn-sm btn-primary"
        ng-click="retrieveAssignedQAWork(1, 'null', assignedQAWorkType); selected = null;">Reset</button>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedQAWorkType" value="ALL"
          ng-change="retrieveAssignedQAWork(1, queryAssigned, assignedQAWorkType)">All</input>
        <input type="radio" ng-model="assignedQAWorkType" value="QA_NEW"
          ng-change="retrieveAssignedQAWork(1, queryAssigned, assignedQAWorkType)">New</input>
        <input type="radio" ng-model="assignedQAWorkType" value="QA_IN_PROGRESS"
          ng-change="retrieveAssignedQAWork(1, queryAssigned, assignedQAWorkType)">Editing</input>
        <input type="radio" ng-model="assignedQAWorkType" value="QA_RESOLVED"
          ng-change="retrieveAssignedQAWork(1, queryAssigned, assignedQAWorkType)">Resolved</input>
      </form>
    </td>
  </tr>
</table>

<!--  do not display controls if no records are assigned and the query term is null -->
<div style="padding: 10px;" ng-show="nAssignedQAWork == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No QA work found.</div>
</div>

<div ng-show="nAssignedQAWork > 0">

  <pagination total-items="nAssignedQAWork" ng-show="numAssignedQAWorkPages > 1"
    page="assignedQAWorkPage" class="pagination-sm" boundary-links="true"
    rotate="true" num-pages="numAssignedQAWorkPages" max-size="5"
    on-select-page="retrieveAssignedQAWork(page, queryQAWork, assignedQAWorkType)"></pagination>

  <table class="table">

    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedQAWorkType === 'QA_IN_PROGRESS'"
            title='Finish Editing All QA Work'
            ng-click="finishOrPublishBatch(assignedQAWorkType)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a ng-show="assignedQAWorkType === 'QA_RESOLVED'"
            title='Publish All Resolved QA Work'
            ng-click="finishOrPublishBatch(assignedQAWorkType)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>
        <th style="width: 77%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 3%; padding: 5px;"><a title="Return All Work"
            ng-click="unassignAllWork(currentUser, 'qa', assignedQAWorkType, queryQAWork)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>

      </tr>

    </thead>

    <tbody>

      <tr ng-repeat="result in assignedQAWork">

        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <a title='Continue work on this concept.'
            ng-show="result.terminologyVersion === 'QA_IN_PROGRESS'">
            <i ng-click="goEditQAWork(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <a title='Start work on this concept'
            ng-show="result.terminologyVersion === 'QA_NEW'">
            <i ng-click="goEditQAWork(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a finished icon if this record has previously been edited -->
          <a title='Continue work on this concept'
            ng-show="result.terminologyVersion === 'QA_RESOLVED'">
            <i ng-click="goEditQAWork(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
        </td>

        <td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>

        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark if this record has previously been edited -->
          <a style:"display:inline" title='Finish this QA work'
            ng-show="result.terminologyVersion === 'QA_IN_PROGRESS' && assignedQAWorkType === 'QA_IN_PROGRESS'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!-- Display a checkmark if this record has previously resolved -->
          <a style:"display:inline" title='Publish this resolved QA work'
            ng-show="result.terminologyVersion === 'QA_RESOLVED' && assignedQAWorkType === 'QA_RESOLVED'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 77%; padding: 5px;">{{result.name}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Labels" ng-show="result.labels.length > 0"
            tooltip-placement="top" tooltip="{{result.labels}}"
            style="float: right; margin-right: 5px;">
            <i class="glyphicon glyphicon-tasks"></i>
          </a>
        </td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return" ng-click="unassignWork(result, currentUser, 'qa')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>



  </table>

</div>


</tab> </tabset>