<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script>
	jQuery(function($) {
		$('#widget').height(450).split({
			orientation : 'horizontal',
			position : '60%'
		});
		$('#recordsSplitter').split({
			orientation : 'vertical',
			position : '50%'
		});
	});
</script>


</head>
<body>


  <div id="widget">
    <div id="recordsSplitter">
      <div class="a">

        <!--  ENTRIES PANEL -->
        <accordion> <accordion-group is-open="isEntriesOpen">
        <accordion-heading> Entries: {{record1.owner.name}}<i
          class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': isEntriesOpen, 'glyphicon-chevron-right': !isEntriesOpen}"></i>
        </accordion-heading>

        <div ng-show="project.groupStructure == true">

          <accordion close-others="false">

          <div ui-sortable ng-model="groups1">

            <!--  first-level accordion groups -->
            <accordion-group ng-repeat="group in groups1" is-open="true">

            <accordion-heading> <span
              style="text-align: left;">Map Group </span> </accordion-heading>



            <div ui-sortable ng-model="entries1[group]">
              <p ng-repeat="entry in entries1[group] track by entry.localId">

                <span ng-show="entry.targetId != null && entry.targetId != ''"><span
                  ng-show="project.ruleBased == true">{{entry.ruleSummary}}</span>
                  {{entry.targetId}} {{entry.targetName}}</span> <span
                  ng-show="entry.targetId == null || entry.targetId === ''">[Empty
                  Entry]</span>
              </p>
            </div>
            <!--  end sortable entries --> </accordion-group>
            <!--  end Group accordion group -->

          </div>
          <!--  end sortable groups --> </accordion>
          <!--  end group accordion -->
        </div>

        <!--  for no group structure in project -->
        <div ng-show="project.groupStructure == false"">

          <div ui-sortable ng-model="entries1">
            <p ng-repeat="entry in entries1">
              <span ng-show="entry.targetId != null && entry.targetId != ''">
                <span ng-show="project.ruleBased == 'true'">[{{entry.ruleSummary}}]</span>
                {{entry.targetId}} {{entry.targetName}}
              </span> <span ng-show="entry.targetId == null || entry.targetId === ''">[Empty
                Entry]</span>
            </p>
          </div>
        </div>

        </accordion-group> <!--  end entries accordion group --> </accordion>
        <!--  end entries accordion -->

        <!--  PRINCIPLES PANEL -->
        <accordion ng-show="record1.mapPrinciple.length != 0"> <accordion-group
          is-open="isPrinciplesOpen"> <accordion-heading>
        Principles <i class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': isPrinciplesOpen, 'glyphicon-chevron-right': !isPrinciplesOpen}"></i>
        </accordion-heading>

        <div ng-repeat="principle in record1.mapPrinciple">
          {{principle.principleId}}: {{principle.name}}</div>
        </accordion-group> </accordion>

        <!--  NOTES PANEL -->
        <accordion ng-show="record1.mapNote.length != 0"> <accordion-group
          is-open="isNotesOpen"> <accordion-heading>
        Notes <i class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': isNotesOpen, 'glyphicon-chevron-right': !isNotesOpen}"></i>
        </accordion-heading>

        <div ng-repeat="note in record1.mapNote">[{{note.user.userName}}]
          {{note.note}}</div>
        </accordion-group> </accordion>

        <button class="btn btn-sm btn-primary" style="margin: 4px"
          ng-click="populateMapRecord(record1)">Start here</button>


      </div>
      <!-- end class a -->
      <div class="b">

        <!--  ENTRIES PANEL -->
        <accordion> <accordion-group is-open="isEntriesOpen">
        <accordion-heading> Entries: {{record2.owner.name}}<i
          class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': isEntriesOpen, 'glyphicon-chevron-right': !isEntriesOpen}"></i>
        </accordion-heading>

        <div ng-show="project.groupStructure == true">

          <accordion close-others="false">

          <div ui-sortable ng-model="groups2">

            <!--  first-level accordion groups -->
            <accordion-group ng-repeat="group in groups2" is-open="true">

            <accordion-heading> <span
              style="text-align: left;">Map Group </span> </accordion-heading>



            <div ui-sortable ng-model="entries2[group]">
              <p ng-repeat="entry in entries2[group] track by entry.localId">

                <span ng-show="entry.targetId != null && entry.targetId != ''"><span
                  ng-show="project.ruleBased == true">{{entry.ruleSummary}}</span>
                  {{entry.targetId}} {{entry.targetName}}</span> <span
                  ng-show="entry.targetId == null || entry.targetId === ''">[Empty
                  Entry]</span>
              </p>
            </div>
            <!--  end sortable entries --> </accordion-group>
            <!--  end Group accordion group -->

          </div>
          <!--  end sortable groups --> </accordion>
          <!--  end group accordion -->
        </div>

        <!--  for no group structure in project -->
        <div ng-show="project.groupStructure == false"">

          <div ui-sortable ng-model="entries2">
            <p ng-repeat="entry in entries2">
              <span ng-show="entry.targetId != null && entry.targetId != ''">
                <span ng-show="project.ruleBased == 'true'">[{{entry.ruleSummary}}]</span>
                {{entry.targetId}} {{entry.targetName}}
              </span> <span ng-show="entry.targetId == null || entry.targetId === ''">[Empty
                Entry]</span>
            </p>
          </div>
        </div>

        </accordion-group> <!--  end entries accordion group --> </accordion>
        <!--  end entries accordion -->

        <!--  PRINCIPLES PANEL -->
        <accordion ng-show="record2.mapPrinciple.length != 0"> <accordion-group
          is-open="isPrinciplesOpen"> <accordion-heading>
        Principles <i class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': isPrinciplesOpen, 'glyphicon-chevron-right': !isPrinciplesOpen}"></i>
        </accordion-heading>

        <div ng-repeat="principle in record2.mapPrinciple">
          {{principle.principleId}}: {{principle.name}}</div>
        </accordion-group> </accordion>

        <!--  NOTES PANEL -->
        <accordion ng-show="record2.mapNote.length != 0"> <accordion-group
          is-open="isNotesOpen"> <accordion-heading>
        Notes <i class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': isNotesOpen, 'glyphicon-chevron-right': !isNotesOpen}"></i>
        </accordion-heading>

        <div ng-repeat="note in record2.mapNote">[{{note.user.userName}}]
          {{note.note}}</div>
        </accordion-group> </accordion>

        <button class="btn btn-sm btn-primary" style="margin: 4px"
          ng-click="populateMapRecord(record2)">Start here</button>

      </div>
      <!--  end class b -->
    </div>
    <!--  end recordsSplitter -->

    <div id="report">
      <accordion> <accordion-group is-open="isReportOpen">
      <accordion-heading> Conflict Report <i
        class="pull-right glyphicon"
        ng-class="{'glyphicon-chevron-down': isReportOpen, 'glyphicon-chevron-right': !isReportOpen}"></i>
      </accordion-heading>

      <div ng-show="validationResult.errors.length > 0">
        <h4>Errors:</h4>
        <div ng-repeat="result in validationResult.errors">{{result}}</div>
      </div>
      <div ng-show="validationResult.warnings.length > 0">
        <h4>Warnings:</h4>
        <div ng-repeat="result in validationResult.warnings">{{result}}</div>
      </div>
      </accordion-group> </accordion>
    </div>
  </div>
  <!-- end widget -->

</body>
</html>
