<!--  partial for displaying list of records -->
<div ng-include src="'./partials/header.html'"></div>

<p></p>

<a href="#/project/details"><h3>{{project.name}}</h3></a>
<p></p>

<p>{{errorRecords}}</p>

<p>
<form>
  <input ng-model="query"> <input type="submit" value="Search"
    ng-click="retrieveRecords(1)"> <input type="submit" value="Reset"
    ng-click="resetSearch()">
    &nbsp&nbsp{{nRecords}} results, page {{recordPage}} of {{numRecordPages}}
</form>


<table width="100%" class="table">
  <thead>
    <th>
      <span style="width: 36%; float: left;"><div tooltip-placement="top"
        tooltip="Source Concept Name and Id">
        <b>Concept Name</b>
      </div></span>
      <span style="width: 10%; float: left;"><div tooltip-placement="top"
        tooltip="Group Id / Map Priority">
        <b>Grp/Prty</b>
      </div></span>
      <span style="width: 12%; float: left;" ng-show="project.ruleBased == true"><div tooltip-placement="top"
        tooltip="Map Rule">
        <b>Rule</b>
      </div></span>
      <span style="width: 40%; float: left;"><div tooltip-placement="top"
        tooltip="Target Preferred Name and Code">
        <b>Target Name</b>
      </div></span>
      <span style="width: 5%; float: left;"></span>
      </th>
  </thead> 

  <tbody ng-repeat="record in records"  ng-class-odd="'odd'" ng-class-even="'even'">

    <tr ng-repeat="entry in record.mapEntry" >

      <td  style="border-top:0px;">
        <div style="float: left; width: 39%;">
          <div>{{record.conceptName}}</div>
          <div>
            <a href="#/record/conceptId/{{record.conceptId}}">{{record.conceptId}}</a>
             <span ng-show="record.unmappedDescendants.length > 0"> <span
          class="dropdown"> <a class="dropdown-toggle"> <img
              src="img/warning.png" alt="question icon">
          </a>
            <ul class="dropdown-menu project-records-dropdown-menu">
              <b>Unmapped Descendants</b>
              <li ng-repeat="concept in record.unmappedDescendants"><a
                href="#/record/conceptId/{{concept.terminologyId}}">{{concept.terminologyId}}:
                  {{concept.value}}</a></li>
            </ul>
           </span>
          </span>         
          </div>
        </div>
        <div style="float: left; width: 4%;">{{entry.mapGroup}}&nbsp;/&nbsp;{{entry.mapPriority}}</div>
        <div style="float: left; width: 14%; "
          ng-show="project.ruleBased == true">{{entry.rule}}</div>
        <div style="float: left; width: 39%;" ng-show="entry.targetId != ''">
          <div>{{entry.targetName}}</div>
          <div>{{entry.targetId}}</div>
        </div>
        <div style="float: left; width: 39%;"
          ng-show="entry.targetId == null || entry.targetId == ''">{{entry.mapRelation.abbreviation}}</div>

        <div style="float: right; width: 3%;">
          <a title="Edit" ng-show="isEditable(record)" 
            ng-click="editRecord(record)"><i
            class="glyphicon glyphicon glyphicon-pencil"></i></a>
        </div>

        
        <!-- ADVICE -->
        <div
          style="float: left; width: 100%; font-size: 12px;"
          ng-repeat="advice in entry.mapAdvice"><img
              src="img/dialog-question.png" alt="advice icon" tooltip-placement="top" tooltip="Map Advice">&nbsp;{{advice.detail}}
        </div>

      </td>

    </tr>
    

    
    <!-- NOTES -->
    <tr ng-show="record.mapNote.length > 0 && currentRole != 'Viewer'" 
    	style="width: 100%;" ng-repeat="note in record.mapNote">
      <td style="border-top:0px;">
        <div style="float: left; width: 3%;"><img
              src="img/notepad.png" alt="notepad icon" tooltip-placement="top" tooltip="Notes"></div>
        <div style="float: left; width: 97%;">
          <span ng-bind-html="to_trusted(truncate(note.note, 200))"></span>
          <span ng-show="truncated(note.note, 200)"
                class="dropdown">
                <a style="display:inline;" class="dropdown-toggle">...</a> <span style="width: 100%"
                  class="dropdown-menu term-browser-dropdown-menu">
                  <p>{{note.note}}</p>
                </span>
              </span>
        </div>
      </td>
    </tr>
    
    <!-- PRINCIPLES -->
    <tr style="width: 100%;" ng-repeat="principle in record.mapPrinciple">
      <td>
        <div ng-show="$first" style="float: left; width: 7%;">Principle:&nbsp;</div>
        <div ng-show="!$first" style="float: left; width: 7%;">&nbsp;</div>
        <div style="float: left; width: 93%;">
          <p ng-bind-html="to_trusted(principle.detail)"></p>
        </div>
      </td>
    </tr>
  </tbody>
  
  <pagination total-items="nRecords" page="recordPage" max-size="recordsPerPage"
    class="pagination-sm" boundary-links="true" rotate="true"
    num-pages="numRecordPages" on-select-page="retrieveRecords(page)"></pagination>


</table>

<p ng-show="unmappedDescendantsPresent">
  <img src="img/warning.png" alt="Unmapped Descendant Warning"> = This
  concept has unmapped descendants.
</p>
<p ng-show="mapNotesPresent && currentRole != 'Viewer'">
  <img src="img/notepad.png" alt="Note(s) Present"> = This entry has
  notes.
</p>
<p ng-show="mapAdvicesPresent">
  <img src="img/dialog-question.png" alt="Advice(s) Present"> = This entry
  has advices.
</p>


<div ng-include src="'./partials/footer.html'"></div>



