<div class="modal-header">
  <h4>Submit Feedback</h4>
  <h4>{{record.conceptId}}: {{record.conceptName}}</h4>
</div>

<div class="modal-body">

  <div>
    <div ng-show="currentUser.userName === 'guest'">
      Enter your name:<br> <input ng-model="name"><br> Enter
      your email address:<br> <input ng-model="email">
    </div>
    Enter a message to be submitted to the map leads:<br>
    <!--  tinymce text area -->
    <form method="post" style="padding: 2px;">
      <textarea id="tinymce-feedback" ui-tinymce="tinymceOptions"
        style="width: 500px; height: 100px" ng-model="feedbackInput"></textarea>
    </form>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary"
    ng-click="sendFeedback(record, feedbackInput, name, email); 
    feedbackInput = ''">Send
    Feedback</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>