<!--  partial for displaying list of records -->
<div ng-include src="'./partials/header.html'"></div>

<p></p>

<h3>
  <a href="#/project/details">{{project.name}}</a>
</h3>

<p></p>

<p>{{errorRecords}}</p>

<p>
<form>
  <input ng-model="query"> <input type="submit" value="Search"
    ng-click="retrieveRecords(1)"> <input type="submit" value="Reset"
    ng-click="resetSearch()"> &nbsp&nbsp {{nRecords}} results, page
  {{recordPage}} of {{numRecordPages}}
</form>

<button class="btn btn-primary btn-sm pull-right" ng-show="nRecords < 200" ng-click="qaRecords()">QA Records</button>

<pagination total-items="nRecords" page="recordPage" max-size="recordsPerPage"
  class="pagination-sm" boundary-links="true" rotate="true"
  num-pages="numRecordPages" on-select-page="retrieveRecords(page)"></pagination>

<div ng-repeat="record in records" ng-class-odd="'odd'" ng-class-even="'even'">
  <h4>
    {{record.conceptName}},
    <a href="#/record/conceptId/{{record.conceptId}}">{{record.conceptId}}</a>
  </h4>

  <div style="float: right; width: 3%;">

    <a title="Submit Feedback" ng-show="currentRole === 'Viewer'"
      ng-click="openViewerFeedbackModal(record, currentUser.userName)">
      <i class="glyphicon glyphicon glyphicon-comment"></i>
    </a>

    <a title="Edit" ng-show="isEditable(record)" ng-click="editRecord(record)">
      <i class="glyphicon glyphicon glyphicon-pencil"></i>
    </a>
  </div>

  <div otf-map-record-wide record="record" project="focusProject"
    show-title="false"></div>
</div>

<div ng-include src="'./partials/footer.html'"></div>



