<ul class="pager"
  ng-hide="editedRecordsPage == 1 && editedRecords.length < recordsPerPage">
  <li class="previous" ng-show="editedRecordsPage > 1"
    ng-click="retrieveEditedWork(editedRecordsPage-1)"><a>&larr; Newer</a></li>
  <li class="next" ng-show="editedRecords.length == recordsPerPage"
    ng-click="retrieveEditedWork(editedRecordsPage+1)"><a>Older &rarr;</a></li>
</ul>
<table class="table">

  <thead>
    <tr>
      <th style="width: 10%; padding: 5px;">Id</th>
      <th style="width: 25%; padding: 5px;">Name</th>
      <th style="width: 45%; padding: 5px;">Target Id</th>
      <th style="width: 15%; padding: 5px;">Last Modified</th>

    </tr>

  </thead>

  <tbody>

    <tr ng-repeat="record in editedRecords">

      <td style="width: 10%; padding: 5px;"><a
        href="#/record/conceptId/{{record.conceptId}}">{{record.conceptId}}</a></td>
      <td>{{record.conceptName}}</td>
      <td>{{getRecordSummary(record)}}</td>
      <td>{{record.lastModified | date:'MM-dd-yyyy HH:mm'}}</td>
  </tbody>

</table>
