<input type="text" id="editQueryInput" ng-model="queryTerms"> <button style:"padding-top:10px;" class="btn btn-sm btn-primary" ng-click="retrieveEditedWork(editedRecordsPage, queryTerms)">Search Work</button>

<img src="img/warning.png" tooltip-placement="top" 
tooltip="You may search by concept id or terms in the concept's name (e.g. closed fracture, 704020004, ...). Only exact phrases will match, e.g. 'phalanx thumb' will not match the phrase 'phalanx of thumb'.  AND/OR/NOT operators are not supported."></img>
		.

<ul class="pager"
  ng-hide="editedRecordsPage == 1 && editedRecords.length < recordsPerPage">
  <li class="previous" ng-show="editedRecordsPage > 1"
    ng-click="retrieveEditedWork(editedRecordsPage-1)"><a>&larr; Newer</a></li>
  <li class="next" ng-show="editedRecords.length == recordsPerPage"
    ng-click="retrieveEditedWork(editedRecordsPage+1)"><a>Older &rarr;</a></li>
</ul>

<accordion close-others="false"> <accordion-group is-open="true">
	<accordion-group ng-repeat="record in editedRecords">
	<accordion-heading>Concept {{record.conceptId}}: {{record.conceptName}}</accordion-heading>
	
	<a href="#/record/conceptId/{{record.conceptId}}">View Records</a>

	<div otf-map-record-wide record="record" project="focusProject" show-title="false"></div>
	</accordion-group>
</accordion>
</div>