<div style="float: left; width: 40%; padding-top: 10px;">

  <form>
    <table>
      <tr>
        <td style="padding: 5px;">
          <select style="width: 250px;" id="reportSearch"
            ng-options="definition as definition.name for definition in definitions |  orderBy: 'name' | filter: {qacheck:true}"
            ng-change="getReports(1, selectedDefinition, queryReport)"
            ng-model="selectedDefinition"></select>
        </td>

        <td style="padding: 5px;">
          <button
            ng-show="reportDisplayed == null || reportDisplayed.id != null"
            class="btn btn-xs btn-primary"
            ng-click="generateNewReport(selectedDefinition)">Generate</button>
        </td>
      </tr>
    </table>
  </form>
  <div style="width: 100%; padding: 5px;"
    ng-show="selectedDefinition != null && selectedDefinition.description != ''">
    <strong>Description:</strong> {{selectedDefinition.description}}
  </div>
</div>

<div>
  <div
    style="float: right; width: 60%; padding: 10px 0px 10px 10px; border-left: thin solid #ddd;">

    <div class="alert alert-warning" ng-show="reportDisplayed == null">No
      QA Check results generated</div>

    <div ng-show="reportDisplayed != null">
      <!--  First row:  QA Check name -->
      <div style="width: 100%; padding: 0px 0px 15px 0px;">
        <div style="float: left; width: 20%">
          <h4>QA Check:</h4>
        </div>
        <div style="float: left; width: 80%">
          <h4>{{reportDisplayed.name}}</h4>
        </div>
      </div>
      <div>
        <strong>Description:</strong>
        {{reportDisplayed.reportDefinition.description}}
      </div>
      <div class="alert alert-warning" ng-show="reportDisplayed.results == 0">This
        QA check generated no results.</div>


      <div ng-repeat="result in reportDisplayed.results">

        <!--  The result items -->

        <div>
          <uib-pagination ng-show="result.nPages > 1" total-items="result.ct"
            ng-model="result.page" max-size="5" class="pagination-sm"
            boundary-links="true" rotate="true" num-pages="result.nPages"
            ng-change="getResultItems(result, page)"></uib-pagination>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="reportResultItem in result.reportResultItems">

              <!-- the actual result items -->
              <td>
                <a
                  ng-href="{{'index.html#/record/conceptId/' + reportResultItem.itemId}}"
                  target="_blank">{{reportResultItem.itemId}}</a>
              </td>
              <td>{{reportResultItem.itemName}}</td>
            </tr>
          </tbody>

        </table>
      </div>
      <button ng-show="reportDisplayed.results.length > 0"
        class="btn btn-xs btn-primary"
        ng-click="addToQAWorkflow(reportDisplayed)">Add to QA Workflow</button>

      <button class="btn btn-xs btn-primary"
        ng-show="reportDisplayed.results.length > 0"
        ng-click="exportReport(reportDisplayed)">Export</button>
    </div>
  </div>
</div>

