<!--  partial for displaying records associated with a concept id -->
<div ng-include src="'./partials/header.html'"></div>

<!--  No map records for this project -->
<div ng-show="recordsInProjectNotFound == true && historicalRecords.length == 0">
  <h4>
    <img src="img/warning-circle_25px.png">&nbsp;No Map Records exist for
    {{focusProject.name}}
  </h4>
</div>

<!--  Map Records Found for this project -->
<div ng-show="recordsInProject.length > 0 || historicalRecords.length > 0">

  <h4>
    <button class="btn btn-sm btn-primary" ng-click="goMapRecords()">Map
      Records</button>
    <button class="btn btn-sm btn-primary" ng-click="openConceptBrowser()">SNOMED
      CT Browser</button>
    <button class="btn btn-sm btn-primary" ng-show="indexViewerExists == true"
      ng-click="openIndexViewer()">Index Viewer</button>
    <span style="display: inline" class="dropdown"
      ng-show="concept.relationship.length > 0">
      <button class="dropdown-toggle btn btn-sm btn-primary">Parents</button>
      <ul class="dropdown-menu">
        <b>Parents</b>
        <li
          ng-repeat="relationship in concept.relationship | orderBy:'destinationConceptPreferredName'">
          <a href="#/record/conceptId/{{relationship.destinationConceptId}}">{{relationship.destinationConceptId}}:
            {{relationship.destinationConceptPreferredName}}</a>
        </li>
      </ul>
    </span>
    <span style="display: inline" class="dropdown"
      ng-show="concept.children.length > 0">
      <button class="dropdown-toggle btn btn-sm btn-primary">Children</button>
      <ul class="dropdown-menu">
        <b>Children</b>
        <li ng-repeat="concept in concept.children | orderBy: 'value'"><a
            href="#/record/conceptId/{{concept.terminologyId}}">{{concept.terminologyId}}:
            {{concept.value}}</a></li>
      </ul>
    </span>
  </h4>

  <accordion close-others="false"> <accordion-group is-open="true">
  <accordion-heading>
  <h5>
    <span tooltip-placement="right"> {{focusProject.name}} </span>
  </h5>
  </accordion-heading>


  <div style="width: 100%" ng-repeat="record in recordsInProject"
    ng-class-odd="'odd'" ng-class-even="'even'">


    <div ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">
      Owner: {{record.owner.name}}&nbsp;
      <a title="Edit" ng-show="isEditable(record) == true"
        ng-click="editRecord(record)">
        <i class="glyphicon glyphicon glyphicon-pencil pull-right"></i>
      </a>
      <br> Status: {{record.workflowStatus}}

    </div>
    <div style="float: right; width: 3%;">

      <a title="Submit Feedback" ng-show="currentRole === 'Viewer'"
        ng-click="openViewerFeedbackModal(record, currentUser.userName)">
        <i class="glyphicon glyphicon glyphicon-comment"></i>
      </a>
    </div>

    <div otf-map-record-wide record="record" project="focusProject"
      show-title="false"></div>

  </div>
  </accordion-group> <accordion-group is-open="false" ng-show="historicalRecords.length > 0">
  <accordion-heading>
  <h5>
    <span tooltip-placement="right"> Historical Map Records </span>
  </h5>
  </accordion-heading>


  <div ng-repeat="record in historicalRecords" ng-class-odd="'odd'"
    ng-class-even="'even'">

    <div ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">
      Owner: {{record.owner.name}}<br> Status: {{record.workflowStatus}}

    </div>

    <div otf-map-record-wide record="record" project="focusProject"
      show-title="false"></div>
  </div>

  </accordion-group> <accordion-group is-open="false" ng-show="recordsNotInProject.length > 0">
  <accordion-heading>
  <h5>
    <span tooltip-placement="right"> Map Records for Other Projects </span>
  </h5>
  </accordion-heading>

  <div ng-repeat="recordsForProject in recordsNotInProject">

    <h4>{{getProjectName(recordsForProject[0])}}</h4>

    <div ng-repeat="record in recordsForProject" ng-class-odd="'odd'"
      ng-class-even="'even'">

      <div ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">
        Owner: {{record.owner.name}}&nbsp;
        <a title="Edit" ng-show="isEditable(record) == true"
          ng-click="editRecord(record)">
          <i class="glyphicon glyphicon glyphicon-pencil pull-right"></i>
        </a>
        <br> Status: {{record.workflowStatus}}

      </div>
      <div otf-map-record-wide record="record" project="focusProject"
        show-title="false"></div>
    </div>

  </div>

  </accordion-group>
</div>


<div ng-include src="'./partials/footer.html'"></div>
