<uib-tabset> <!-- Concepts tab --> <uib-tab
  heading="{{tabs[0].title}}" active="tabs[0].active" select="setTab(0)">
<table style="margin-top: 10px;">
  <tr>
    <td style="padding: 5px;">Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="assignedSearch" ng-model="queryAssigned">
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedWork(1, queryAssigned)">Search</button>
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedWork(1, 'null'); queryAssigned = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedTypes.work" value="ALL"
          ng-change="retrieveAssignedWork(1, queryAssigned)">All <input
          type="radio" ng-model="assignedTypes.work" value="NEW"
          ng-change="retrieveAssignedWork(1, queryAssigned)">New <input
          type="radio" ng-model="assignedTypes.work" value="EDITING_IN_PROGRESS"
          ng-change="retrieveAssignedWork(1, queryAssigned)">Editing <input
          type="radio" ng-model="assignedTypes.work" value="EDITING_DONE"
          ng-change="retrieveAssignedWork(1, queryAssigned)">Finished
      </form>
    </td>
  </tr>
</table>
<div ng-show="nAssignedRecords > 0">
  <uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;"
    first-text="&laquo;" last-text="&raquo;"
    ng-show="numAssignedRecordPages > 1" total-items="nAssignedRecords"
    ng-model="assignedWorkPage" class="pagination-sm" max-size="5"
    boundary-links="true" items-per-page="itemsPerPage"
    ng-change="retrieveAssignedWork(assignedWorkPage, queryAssigned)"></uib-pagination>

  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedTypes.work === 'EDITING_IN_PROGRESS'"
            title="Finish All Work"
            ng-click="finishOrPublishBatch(assignedTypes.work)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a
            ng-show="assignedTypes.work === 'EDITING_DONE' && focusProject.workflowType === 'SIMPLE_PATH'"
            title='Publish All Finished Concepts'
            ng-click="finishOrPublishBatch(assignedTypes.work)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a
            ng-show="assignedTypes.work === 'EDITING_DONE' && focusProject.workflowType === 'REVIEW_PROJECT'"
            title='Finish Edited Concepts'
            ng-click="finishOrPublishBatch(assignedTypes.work)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>

        <th style="width: 75%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"><a title="Return All Work"
            ng-click="unassignAllWork(currentUser, 'concept', assignedTypes.work, queryAssigned)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in assignedRecords">
        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Continue working on this concept'
            ng-show="result.terminologyVersion === 'EDITING_IN_PROGRESS'">
            <i ng-click="goEditRecord(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Start work on this concept'
            ng-show="result.terminologyVersion === 'NEW'">
            <i ng-click="goEditRecord(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a saved icon if this record has been marked finished-->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Re-edit this finished concept'
            ng-show="result.terminologyVersion === 'EDITING_DONE'
						|| result.terminologyVersion === 'CONFLICT_DETECTED'
						|| result.terminologyVersion === 'REVIEW_NEEDED'">
            <i ng-click="goEditRecord(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
          <!-- If lead has claimed their own previous work for review, do not allow clicking -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a disabled title='You have claimed this concept for Lead Review'
            ng-show="result.terminologyVersion === 'REVIEW_NEW'
						|| result.terminologyVersion === 'REVIEW_IN_PROGRESS'">
            <i class="glyphicon glyphicon-ban-circle"></i>
          </a>
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a disabled
            title='You have claimed this concept for Conflict Resolution'
            ng-show="result.terminologyVersion === 'CONFLICT_NEW'
						|| result.terminologyVersion === 'CONFLICT_IN_PROGRESS'">
            <i class="glyphicon glyphicon-ban-circle"></i>
          </a>
        </td>
        <td style="width: 14%; padding: 5px;">
          {{result.terminologyId}}
        </td>
        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a style="display: inline" title='Finish this concept'
            ng-show="result.terminologyVersion === 'EDITING_IN_PROGRESS' && (assignedTypes.work === 'EDITING_IN_PROGRESS' || assignedTypes.work === 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>

          <!-- Display a checkmark to publish if this record is resolved -- only for simple/review path workflow -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a style="display: inline" title='Publish this concept'
            ng-show="result.terminologyVersion === 'EDITING_DONE' && focusProject.workflowType === 'SIMPLE_PATH'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a style="display: inline" title='Finish this concept'
            ng-show="result.terminologyVersion === 'EDITING_DONE' && focusProject.workflowType === 'REVIEW_PROJECT'">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>
        <td style="width: 75%; padding: 5px;">{{result.value}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return"
            ng-click="unassignWork(result, currentUser, 'concept')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="padding: 10px;" ng-show="nAssignedRecords == 0">
  <p></p>
  <div style="padding: 10px;" class="alert alert-warning" disabled>No
    concepts found.</div>
</div>
</uib-tab> <!-- Conflicts tab --> <uib-tab heading="{{tabs[1].title}}"
  active="tabs[1].active" select="setTab(1)"
  ng-show="(currentRole === 'Lead' || currentRole === 'Administrator') && (focusProject.workflowType === 'CONFLICT_PROJECT' || focusProject.workflowType === 'LEGACY_PATH')">
<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px;">Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="conflictSearch" ng-model="queryConflict">
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedConflicts(1, queryConflict, assignedTypes.conflict)">Search</button>
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedConflicts(1, 'null', assignedTypes.conflict); queryConflict = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedTypes.conflict" value="ALL"
          ng-change="retrieveAssignedConflicts(1, queryAssigned)">All <input
          type="radio" ng-model="assignedTypes.conflict" value="CONFLICT_NEW"
          ng-change="retrieveAssignedConflicts(1, queryAssigned)">New <input
          type="radio" ng-model="assignedTypes.conflict"
          value="CONFLICT_IN_PROGRESS"
          ng-change="retrieveAssignedConflicts(1, queryAssigned)">Editing
        <input type="radio" ng-model="assignedTypes.conflict"
          value="CONFLICT_RESOLVED"
          ng-change="retrieveAssignedConflicts(1, queryAssigned)">Resolved
      </form>
    </td>
  </tr>
</table>

<!--  do not display table if no records are assigned and the query term is null -->
<div style="padding: 10px;" ng-show="nAssignedConflicts == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No conflicts found.</div>
</div>

<div ng-show="nAssignedConflicts > 0">
  <uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;"
    first-text="&laquo;" last-text="&raquo;" total-items="nAssignedConflicts"
    ng-show="numAssignedConflictsPages > 1" ng-model="assignedConflictsPage"
    class="pagination-sm" boundary-links="true" rotate="true" max-size="5"
    ng-change="retrieveAssignedConflicts(assignedConflictsPage, queryConflict, assignedTypes.conflict)"></uib-pagination>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 14%; padding: 5px;">Id</th>
        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedTypes.conflict === 'CONFLICT_IN_PROGRESS'"
            title='Finish Editing All Conflicts'
            ng-click="finishOrPublishBatch(assignedTypes.conflict)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a ng-show="assignedTypes.conflict === 'CONFLICT_RESOLVED'"
            title='Publish All Resolved Conflicts'
            ng-click="finishOrPublishBatch(assignedTypes.conflict)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>

        <th style="width: 75%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"><a
            title="Return All Conflicts"
            ng-click="unassignAllWork(currentUser, 'conflict', assignedTypes.conflict, queryConflict)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in assignedConflicts">

        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Re-edit this resolved conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_IN_PROGRESS'">
            <i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Start work on this conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_NEW'">
            <i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a finished icon if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Continue working on this conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_RESOLVED'">
            <i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
        </td>


        <td style="width: 14%; padding: 5px;">
          <a href="#/record/conceptId/{{result.terminologyId}}">{{result.terminologyId}}</a>
        </td>
        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark to finish if in progress -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a style="display: inline" title='Resolve this conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_IN_PROGRESS' && (assignedTypes.conflict === 'CONFLICT_IN_PROGRESS' || assignedTypes.conflict === 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!-- Display a checkmark to publish if this record is resolved -->
          <a style="display: inline" title='Publish this resolved conflict'
            ng-show="result.terminologyVersion === 'CONFLICT_RESOLVED' && (assignedTypes.conflict === 'CONFLICT_RESOLVED' || assignedTypes.conflict === 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 80%; padding: 5px;">{{result.value}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return"
            ng-click="unassignWork(result, currentUser, 'conflict')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="assignedConflicts.length == 0 && searchPerformed">No
    concepts matched the search.</div>
</div>

</uib-tab> <!-- Review tab --> <uib-tab heading="{{tabs[2].title}}"
  active="tabs[2].active" select="setTab(2)"
  ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">

<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px;">Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="reviewSearch" ng-model="queryReviewWork">
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedReviewWork(1, queryReviewWork)">Search</button>
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedReviewWork(1, 'null'); queryReviewWork = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedTypes.review" value="ALL"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned)">All <input
          type="radio" ng-model="assignedTypes.review" value="REVIEW_NEW"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned)">New <input
          type="radio" ng-model="assignedTypes.review"
          value="REVIEW_IN_PROGRESS"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned)">Editing
        <input type="radio" ng-model="assignedTypes.review"
          value="REVIEW_RESOLVED"
          ng-change="retrieveAssignedReviewWork(1, queryAssigned)">Resolved
      </form>
    </td>
  </tr>
</table>

<!--  do not display controls if no records are assigned and the query term is null -->
<div style="padding: 10px;" ng-show="nAssignedReviewWork == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No review work found.</div>
</div>

<div ng-show="nAssignedReviewWork > 0">

  <uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;"
    first-text="&laquo;" last-text="&raquo;" total-items="nAssignedReviewWork"
    ng-show="numAssignedReviewWorkPages > 1" ng-model="assignedReviewWorkPage"
    class="pagination-sm" boundary-links="true" rotate="true" max-size="5"
    ng-change="retrieveAssignedReviewWork(assignedReviewWorkPage, queryReviewWork)"></uib-pagination>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedTypes.review === 'REVIEW_IN_PROGRESS'"
            title='Finish Editing All Review Work'
            ng-click="finishOrPublishBatch(assignedTypes.review)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a ng-show="assignedTypes.review === 'REVIEW_RESOLVED'"
            title='Publish All Resolved Review Work'
            ng-click="finishOrPublishBatch(assignedTypes.review)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>
        <th style="width: 80%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"><a title="Return All Work"
            ng-click="unassignAllWork(currentUser, 'review', assignedTypes.review, queryReviewWork)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in assignedReviewWork">
        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Continue reviewing work.'
            ng-show="result.terminologyVersion === 'REVIEW_IN_PROGRESS'">
            <i ng-click="goEditReviewWork(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Start reviewing this work'
            ng-show="result.terminologyVersion === 'REVIEW_NEW'">
            <i ng-click="goEditReviewWork(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a finished icon if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Continue working on this conflict'
            ng-show="result.terminologyVersion === 'REVIEW_RESOLVED'">
            <i ng-click="goEditReviewWork(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
        </td>

        <td style="width: 14%; padding: 5px;">
          <a href="#/record/conceptId/{{result.terminologyId}}">{{result.terminologyId}}</a>
        </td>

        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a style="display: inline" title='Finish this review work'
            ng-show="result.terminologyVersion === 'REVIEW_IN_PROGRESS' && (assignedTypes.review === 'REVIEW_IN_PROGRESS' || assignedTypes.review === 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!-- Display a checkmark if this record has previously resolved -->
          <a style="display: inline" title='Publish this resolved review work'
            ng-show="result.terminologyVersion === 'REVIEW_RESOLVED' && (assignedTypes.review === 'REVIEW_RESOLVED' || assignedTypes.review === 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 80%; padding: 5px;">{{result.value}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return"
            ng-click="unassignWork(result, currentUser, 'review')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


</uib-tab> <!-- Users tab --> <uib-tab heading="{{tabs[3].title}}" active="tabs[3].active"
  select="setTab(3)"
  ng-show="currentRole === 'Lead' || currentRole === 'Administrator'">

<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px;">View work assigned to:</td>
    <td style="padding: 5px;">
      <select ng-model="selected.mapUserViewed"
        ng-options="mapUser as mapUser.name for mapUser in mapUsers | orderBy:'name'"
        ng-change="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, queryAssignedForUser)">
      </select>
    </td>
  </tr>
  <tr>
    <td style="padding: 5px;">Filter concepts:</td>
    <td style="padding: 5px;">
      <form>
        <input id="assignedForUserSearch" ng-model="queryAssignedForUser">
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, queryAssignedForUser)">Search</button>
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, 'null' ); queryAssignedForUser = null">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedTypes.forUser" value="ALL"
          ng-change="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, queryAssignedForUser)">All
        <input type="radio" ng-model="assignedTypes.forUser" value="NEW"
          ng-change="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, queryAssignedForUser)">New
        <input type="radio" ng-model="assignedTypes.forUser"
          value="EDITING_IN_PROGRESS"
          ng-change="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, queryAssignedForUser)">Editing
        <input type="radio" ng-model="assignedTypes.forUser"
          value="EDITING_DONE"
          ng-change="retrieveAssignedWorkForUser(1, selected.mapUserViewed.userName, queryAssignedForUser)">Finished
      </form>
    </td>
  </tr>
</table>

<uib-pagination
  ng-show="selected.mapUserViewed != null && numAssignedRecordPagesForUser > 1"
  total-items="nAssignedRecordsForUser" ng-model="assignedWorkPageForUser"
  class="pagination-sm" max-size="5" boundary-links="true" rotate="true"
  ng-change="retrieveAssignedWorkForUser(assignedWorkPageForUser, selected.mapUserViewed.userName, queryAssignedForUser)"></uib-pagination>

<!--  do not display controls if no records are assigned and the query term is null and a map user is selected-->
<div style="padding: 10px;" ng-show="nAssignedRecordsForUser == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No work found.</div>
</div>

<table class="table" ng-show="nAssignedRecordsForUser > 0">
  <thead>
    <tr>
      <th style="width: 12%; padding: 5px;">Id</th>
      <th style="width: 60%; padding: 5px;">Preferred Name</th>
      <th style="width: 25%; padding: 5px;">Last Modified</th>
      <th style="width: 3%; padding: 5px;"><a title="Return All Work"
          ng-click="unassignAllWork(selected.mapUserViewed, 'concept', assignedTypes.forUser, queryAssignedForUser)">
          <i
            class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
        </a></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="result in assignedRecordsForUser">
      <td style="width: 12%; padding: 5px;">
        {{result.terminologyId}}
      </td>
      <td style="width: 60%; padding: 5px;">{{result.value}}</td>
      <td style="width: 25%; padding: 5px;">{{result.terminology |
        date:'MM-dd-yyyy HH:mm'}}</td>
      <td style="width: 3%; padding: 5px;">
        <a title="Return"
          ng-click="unassignWork(result, selected.mapUserViewed, 'conceptsByUser')">
          <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</uib-tab> <!-- QA Tab --> <uib-tab heading="{{tabs[4].title}}" active="tabs[4].active"
  select="setTab(4)">
<table style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="padding: 5px;">Filter by label:</td>
    <td style="padding: 5px;">
      <form>
        <input type="text" ng-model="queryQAWork" size="25" list="qa-labels">
        <datalist id="qa-labels">
          <option ng-repeat="lbl in labelNames" value="{{lbl}}">{{lbl}}</option>
        </datalist>
        <button class="btn btn-xs btn-primary"
          ng-click="retrieveAssignedQAWork(1, queryQAWork);">Search</button>
        <button class="btn btn-xs btn-primary"
          ng-click="queryQAWork = null; retrieveAssignedQAWork(1, ''); queryQAWork = '';">Reset</button>
      </form>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <form>
        <input type="radio" ng-model="assignedTypes.qa" value="ALL"
          ng-change="retrieveAssignedQAWork(1, queryAssigned)">All <input
          type="radio" ng-model="assignedTypes.qa" value="QA_NEW"
          ng-change="retrieveAssignedQAWork(1, queryAssigned)">New <input
          type="radio" ng-model="assignedTypes.qa" value="QA_IN_PROGRESS"
          ng-change="retrieveAssignedQAWork(1, queryAssigned)">Editing <input
          type="radio" ng-model="assignedTypes.qa" value="QA_RESOLVED"
          ng-change="retrieveAssignedQAWork(1, queryAssigned)">Resolved
      </form>
    </td>
  </tr>
</table>

<!--  do not display controls if no records are assigned and the query term is null -->
<div style="padding: 10px;" ng-show="nAssignedQAWork == 0">
  <p></p>
  <div class="alert alert-warning" disabled>No QA work found.</div>
</div>

<div ng-show="nAssignedQAWork > 0">

  <uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;"
    first-text="&laquo;" last-text="&raquo;" total-items="nAssignedQAWork"
    ng-show="numAssignedQAWorkPages > 1" ng-model="assignedQAWorkPage"
    class="pagination-sm" boundary-links="true" rotate="true" max-size="5"
    ng-change="retrieveAssignedQAWork(assignedQAWorkPage, queryQAWork)"></uib-pagination>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 14%; padding: 5px;">Id</th>

        <!--  Extra column if on editing in progress page for dashboard finish commands -->
        <th style="width: 3%; padding: 5px;"><a
            ng-show="assignedTypes.qa === 'QA_IN_PROGRESS'"
            title='Finish Editing All QA Work'
            ng-click="finishOrPublishBatch(assignedTypes.qa)">
            <i class="glyphicon glyphicon-check"></i>
          </a> <a ng-show="assignedTypes.qa === 'QA_RESOLVED'"
            title='Publish All Resolved QA Work'
            ng-click="finishOrPublishBatch(assignedTypes.qa)">
            <i class="glyphicon glyphicon-check"></i>
          </a></th>
        <th style="width: 77%; padding: 5px;">Preferred Name</th>
        <th style="width: 3%; padding: 5px;"></th>
        <th style="width: 3%; padding: 5px;"><a title="Return All Work"
            ng-click="unassignAllWork(currentUser, 'qa', assignedTypes.qa, queryQAWork)">
            <i
              class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"></i>
          </a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in assignedQAWork">

        <td style="width: 3%; padding: 5px;">
          <!-- Display a pushpin if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a title='Continue work on this concept.'
            ng-show="result.terminologyVersion === 'QA_IN_PROGRESS'">
            <i ng-click="goEditQAWork(result.id)"
              class="glyphicon glyphicon-pushpin"></i>
          </a>
          <!-- Display a pencil if this record has not yet been edited -->
          <a title='Start work on this concept'
            ng-show="result.terminologyVersion === 'QA_NEW'">
            <i ng-click="goEditQAWork(result.id)"
              class="glyphicon glyphicon-pencil"></i>
          </a>
          <!-- Display a finished icon if this record has previously been edited -->
          <a title='Continue work on this concept'
            ng-show="result.terminologyVersion === 'QA_RESOLVED'">
            <i ng-click="goEditQAWork(result.id)"
              class="glyphicon glyphicon-saved"></i>
          </a>
        </td>

        <td style="width: 14%; padding: 5px;">
          <a href="#/record/conceptId/{{result.terminologyId}}">{{result.terminologyId}}</a>
        </td>

        <td style="width: 3%; padding: 5px;">
          <!-- Display a checkmark if this record has previously been edited -->
          <!--  NOTE: the result.termionlogyVersion is overloaded with the workflow status of the record  -->
          <a style="display: inline" title='Finish this QA work'
            ng-show="result.terminologyVersion == 'QA_IN_PROGRESS' && (assignedTypes.qa == 'QA_IN_PROGRESS' || assignedTypes.qa == 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
          <!-- Display a checkmark if this record has previously resolved -->
          <a style="display: inline" title='Publish this resolved QA work'
            ng-show="result.terminologyVersion == 'QA_RESOLVED' && (assignedTypes.qa == 'QA_RESOLVED' || assignedTypes.qa == 'ALL')">
            <i ng-click="finishOrPublish(result)" class="glyphicon glyphicon-ok"></i>
          </a>
        </td>

        <td style="width: 77%; padding: 5px;">{{result.name}}</td>
        <td style="width: 3%; padding: 5px;">
          <a title="Labels" ng-show="result.labels.length > 0"
            tooltip-placement="top" uib-tooltip="{{result.labels}}"
            style="float: right; margin-right: 5px;">
            <i class="glyphicon glyphicon-tasks"></i>
          </a>
        </td>
        <td style="width: 3%; padding: 5px;">
          <a title="Return" ng-click="unassignWork(result, currentUser, 'qa')">
            <i class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</uib-tab> </uib-tabset>