<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>

	<!--  Record 1 -->
	<div style="float: left; width: 50%">

		<div class="alert alert-warning">Record owned by
			{{record1.owner.name}}</div>
		<div otf-map-record-narrow record="record1" project="project"
			show-title="false"></div>
		<button class="btn btn-sm btn-primary" style="margin: 4px"
			ng-click="populateMapRecord(record1)">Start here</button>
		<hr>
	</div>
	
	<!--  Record 2 -->
	<div style="float: right; width: 50%">
		<div class="alert alert-warning">Record owned by
			{{record2.owner.name}}</div>
		<div otf-map-record-narrow record="record2" project="project"
			show-title="false"></div>
		<button class="btn btn-sm btn-primary" style="margin: 4px"
			ng-click="populateMapRecord(record2)">Start here</button>
		<hr>
	</div>




	
</body>
</html>
