<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script>
	jQuery(function($) {
		$('#widget').height(550).split({
			orientation : 'horizontal',
			position : '70%'
		});
		$('#widgetSplitter').split({
			orientation : 'horizontal',
			position : '65%'
		});
		$('#recordsSplitter').split({
			orientation : 'vertical',
			position : '50%'
		});
		$('#feedbackSplitter').split({
			orientation : 'vertical',
			position : '50%'
		});
	});
</script>


</head>
<body>

	<div id="widget">
		<div id="widgetSplitter">
			<div id="recordsSplitter">
				<div class="a">
					<div class="alert alert-warning">Record owned by {{record1.owner.name}}</div>
					<div otf-map-record-narrow record="record1" project="project" show-title="false"></div>
					<button class="btn btn-sm btn-primary" style="margin: 4px"
        				 ng-click="populateMapRecord(record1)">Start here</button><hr>
				</div>

				<div ng-show="record2 != null" class="b">
					<div class="alert alert-warning">Record owned by {{record2.owner.name}}</div>
					<div otf-map-record-narrow record="record2" project="project" show-title="false"></div>
					<button class="btn btn-sm btn-primary" style="margin: 4px"
         			 ng-click="populateMapRecord(record2)">Start here</button><hr>
				</div>
				<!--  end class b -->

			</div> <!--  end recordSplitter -->
			
			<div id="feedbackSplitter">
				<div class="a">
					
					<form style="margin-top: 8px; margin-left: 4px;">
						<table>
							<tr>
								<td>Select error:&nbsp;</td>
								<td><select ng-model="selectedErrorMessage1"
									ng-options="msg as msg.displayName for msg in errorMessages track by msg.displayName">
								</select></td>
							</tr>
							<tr>
								<td>Comment:&nbsp;</td>
								<td><textarea ng-model="errorComment1"
									style="width: 100%; margin-top: 5px;"></textarea></td>
							</tr>
						</table>
						<div>
							<button class="btn btn-sm btn-primary" style="margin: 4px"
								ng-click="submitNewUserError(record1, selectedErrorMessage1, errorComment1); errorComment1 = ''; selectedErrorMessage1 = errorMessages[0];">Submit
								error</button>
						</div>
					</form>
				</div>
				<div ng-show="record2 != null" class="b">
					<form style="margin-top: 8px; margin-left: 4px;">
						<table>
							<tr>
								<td>Select error:&nbsp;</td>
								<td><select ng-model="selectedErrorMessage2"
									ng-options="msg as msg.displayName for msg in errorMessages track by msg.displayName">
								</select></td>
							</tr>
							<tr>
								<td>Comment:&nbsp;</td>
								<td><textarea ng-model="errorComment2"
									style="width: 100%; margin-top: 5px;"></textarea></td>
							</tr>
						</table>
						<div>
							<button class="btn btn-sm btn-primary" style="margin: 4px"
								ng-click="submitNewUserError(record2, selectedErrorMessage2, errorComment2); errorComment2 = ''; selectedErrorMessage2 = errorMessages[0];">Submit
								error</button>
						</div>
					</form>
				
				
				</div> <!--  end class b -->
			</div> <!--  end feedbackSplitter -->
			
			
		</div>
		<div id="report" ng-show="record2 != null">
			<accordion> 
				<accordion-group is-open="isDiscrepancyOpen">
				<accordion-heading> Discrepancy Review<i
					class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': isDiscrepancyOpen, 'glyphicon-chevron-right': !isDiscrepancyOpen}"></i>
				</accordion-heading>
				
				Enter discrepancy review notes:
				<textarea style="width: 100%; margin-top: 5px;" ng-model="discrepancyFeedback"></textarea>
				
				<button class="btn btn-sm btn-primary" style="margin: 4px"
								ng-click="startDiscrepancyReview(discrepancyFeedback)">Send Emails</button>
				{{discrepancyErrorMessage}}<br>
				{{discrepancySuccessMessage}}
								
				</accordion-group>
				<accordion-group is-open="isReportOpen">
				<accordion-heading> Conflict Report <i
					class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': isReportOpen, 'glyphicon-chevron-right': !isReportOpen}"></i>
				</accordion-heading>
	
				<div ng-show="validationResult.errors.length == 0 && validationResult.warnings.length == 0">
					Records are identical.
				</div>
				<div ng-show="validationResult.errors.length > 0">
					<div ng-repeat="result in validationResult.errors">
                      <div class="alert alert-danger" role="alert">{{result}}</div>
                    </div>
				</div>
				<div ng-show="validationResult.warnings.length > 0">
                    <div ng-repeat="result in validationResult.warnings">
                      <div class="alert alert-warning" role="alert">{{result}}</div>
                    </div>
				</div>
				</accordion-group> 
			</accordion>
		</div>
	</div>
</body>
</html>
