<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="mapProjectApp">
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="images/favicon.png" />
<title>{{title}}</title>
<!-- <title>IHTSDO Mapping Tool</title> -->
<style type="text/css" media="all"></style>
<!-- build:css css/sample.min.css  -->

<!-- JQuery splitter CSS  -->
<link href="components/jquery-splitter/jquery.splitter.css" rel="stylesheet">

<!-- dashboard style  -->
<link href="css/main.css" rel="stylesheet">
<link href="components/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Bootstrap CSS  -->
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!--  IHTSDO Mapping Tool webapp override CSS -->
<link rel="stylesheet" href="css/app.css">

<!-- Angular core and standard plugins -->
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<!-- Angular ngRoute -->
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

<!-- Angular/Boostrap UI -->
<script type="text/javascript"
  src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.0.min.js"></script>

<!-- Angular UI Tree -->
<script type="text/javascript"
  src="components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<link rel="stylesheet"
  href="components/angular-ui-tree/dist/angular-ui-tree.min.css">

<!-- Angular file upload script must be after angular.js -->
<script src="components/ng-file-upload/ng-file-upload.min.js"></script>


<script type="text/javascript"
  src="components/angular-local-storage/angular-local-storage.min.js"></script>


<!--  angular includes 
<script type="text/javascript" src="components/angular/angular.js"></script>
<script type="text/javascript" src="components/angular/angular-route.js"></script>
<script type="text/javascript" src="components/angular/cookies.js"></script>
<!--  TinyMCE rich text formatter -->
<script type="text/javascript" src="components/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="components/tinymce/ui.tinymce.js"></script>

<!--  file upload script must be before angular.js -- >
<script src="components/file-upload/angular-file-upload-shim.js"></script>
-->
<!-- ADF Dashboard scripts -->
<script type="text/javascript" src="components/angular/sortable.js"></script>
<script type="text/javascript" src="components/adf-dashboard/adf.js"></script>
<script type="text/javascript" src="components/adf-dashboard/provider.js"></script>
<script type="text/javascript" src="components/adf-dashboard/widget-content.js"></script>
<script type="text/javascript" src="components/adf-dashboard/widget.js"></script>
<script type="text/javascript" src="components/adf-dashboard/dashboard.js"></script>

<!-- Controllers -->
<script src="js/controllers.js"></script>
<script src="js/loginController.js"></script>
<script src="js/app.js"></script>
<script src="js/appConfig.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/dashboards.js"></script>

<!-- Widgets -->
<script type="text/javascript" src="js/widgets/metadataList/metadataList.js"></script>
<script type="text/javascript" src="js/widgets/mapRecord/mapRecord.js"></script>
<script type="text/javascript" src="js/widgets/mapEntry/mapEntry.js"></script>
<script type="text/javascript" src="js/widgets/mapProject/mapProject.js"></script>
<script type="text/javascript" src="js/widgets/workAvailable/workAvailable.js"></script>
<script type="text/javascript" src="js/widgets/assignedList/assignedList.js"></script>
<script type="text/javascript" src="js/widgets/editedList/editedList.js"></script>
<script type="text/javascript" src="js/widgets/compareRecords/compareRecords.js"></script>
<script type="text/javascript" src="js/widgets/projectDetails/projectDetails.js"></script>
<script type="text/javascript"
  src="js/widgets/terminologyBrowser/terminologyBrowser.js"></script>
<script type="text/javascript" src="js/widgets/projectRecords/projectRecords.js"></script>
<script type="text/javascript" src="js/widgets/recordConcept/recordConcept.js"></script>
<script type="text/javascript" src="js/widgets/recordSummary/recordSummary.js"></script>
<script type="text/javascript" src="js/widgets/feedback/feedback.js"></script>
<script type="text/javascript"
  src="js/widgets/feedbackConversation/feedbackConversation.js"></script>
<script type="text/javascript" src="js/widgets/recordAdmin/recordAdmin.js"></script>
<script type="text/javascript"
  src="js/widgets/applicationAdmin/applicationAdmin.js"></script>
<script type="text/javascript" src="js/widgets/report/report.js"></script>
<script type="text/javascript" src="js/widgets/qaCheck/qaCheck.js"></script>
<script type="text/javascript" src="js/widgets/indexViewer/indexViewer.js"></script>

</head>
<body>

  <noscript>
    <div class="alert alert-danger">You must have Javascript enabled to
      use the Mapping Tool.</div>
  </noscript>
  <div class="container">

    <!-- Error handling -->
    <div class="row">
      <!-- padding -->
      <div class="col-md-1 col-xs-0"></div>
      <div class="col-md-10 col-xs-12" id="errorMsg"
        class="border-error alert-error" ng-show="globalError">
        <h4 class="alert alert-danger alert-error">
          {{globalError}}
          <span style="display: inline; float: right;">

            <i class="glyphicon glyphicon-tags" style="margin-right: 15px"
              ng-show="globalLongError"
              title="{{globalErrorExpand ? 'Hide' : 'Show'}} long eror"
              ng-click="globalErrorExpand = !globalErrorExpand;"></i>
            <i class="glyphicon glyphicon-remove" ng-click="globalError = '';"></i>
          </span>
          <span class="intro-text"
            ng-show="globalLongError && globalErrorExpand">
            <br />{{globalLongError}}
          </span>
        </h4>
      </div>
      <!-- padding -->
      <div class="col-md-1 col-xs-0"></div>
    </div>

    <div ng-view style="margin-top: 10px;"></div>
    <div ng-show="glassPane > 0" class="top-layer">{{glassPane}}</div>
  </div>


</body>
</html>
