<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="mapProjectApp">
<head>
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="images/favicon.png" />
<title>IHTSDO Mapping Tool</title>
<style type="text/css" media="all"></style>
<!-- build:css css/sample.min.css  -->

<!-- JQuery splitter CSS  -->
<link href="components/jquery-splitter/jquery.splitter.css" rel="stylesheet">


<!-- dashboard style  -->
<link href="css/main.css" rel="stylesheet">
<link href="components/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- Bootstrap core CSS  -->
<link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<!--  IHTSDO Mapping Tool webapp override CSS -->
<link rel="stylesheet" href="css/app.css">

<!--  file upload script must be before angular.js -->
<script src="components/file-upload/angular-file-upload-shim.js"></script>

<!--  angular includes -->
<script type="text/javascript" src="components/angular/angular.js"></script>
<script type="text/javascript" src="components/angular/angular-route.js"></script>
<script type="text/javascript"
  src="components/angular-local-storage/angular-local-storage.js"></script>
<script type="text/javascript" src="components/angular/sortable.js"></script>
<script type="text/javascript" src="components/angular/cookies.js"></script>

<script src="js/controllers.js"></script>
<script src="js/app.js"></script>


<!--  file upload script must be after angular.js -->
<script src="components/file-upload/angular-file-upload.js"></script>

<!-- build:js js/jquery.min.js -->
<script type="text/javascript" src="components/jquery/jquery.js"></script>
<!-- endbuild -->

<!-- build:js js/jquery.ui.sortable.min.js -->
<script type="text/javascript"
  src="components/jquery-ui/ui/minified/jquery.ui.core.min.js"></script>
<script type="text/javascript"
  src="components/jquery-ui/ui/minified/jquery.ui.widget.min.js"></script>
<script type="text/javascript"
  src="components/jquery-ui/ui/minified/jquery.ui.mouse.min.js"></script>
<script type="text/javascript"
  src="components/jquery-ui/ui/minified/jquery.ui.sortable.min.js"></script>
<script type="text/javascript"
  src="components/jquery-splitter/jquery.splitter-0.14.0.js"></script>
<script type="text/javascript"
  src="components/angular-ui-tree/angular-ui-tree.js"></script>
<!-- endbuild   -->

<link href="components/angular-ui-tree/angular-ui-tree.min.css" rel="stylesheet">

<!--  MUST REDECLARE ANGULAR FOR FULL FUNCTIONALITY (splitter, etc) -->
<script type="text/javascript" src="components/angular/angular.min.js"></script>


<!-- build:js js/sample.min.js -->
<!-- angular-bootstrap -->
<script type="text/javascript"
  src="components/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript"
  src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- ADF Dashboard scripts -->
<script type="text/javascript" src="components/adf-dashboard/adf.js"></script>
<script type="text/javascript" src="components/adf-dashboard/provider.js"></script>
<script type="text/javascript" src="components/adf-dashboard/widget-content.js"></script>
<script type="text/javascript" src="components/adf-dashboard/widget.js"></script>
<script type="text/javascript" src="components/adf-dashboard/dashboard.js"></script>

<!--  TinyMCE rich text formatter -->
<script type="text/javascript" src="components/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="components/tinymce/ui.tinymce.js"></script>

<!--  angularjs-dropdown-multiselect -->
<script type="text/javascript" src="components/multi-select/lodash.js"></script>
<script type="text/javascript"
  src="components/multi-select/angularjs-dropdown-multiselect.js"></script>

<!-- OTF Angular controls -->
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/dashboards.js"></script>

<!-- OTF Widgets -->
<script type="text/javascript" src="js/widgets/metadataList/metadataList.js"></script>
<script type="text/javascript" src="js/widgets/mapRecord/mapRecord.js"></script>
<script type="text/javascript" src="js/widgets/mapEntry/mapEntry.js"></script>
<script type="text/javascript" src="js/widgets/mapProject/mapProject.js"></script>
<script type="text/javascript" src="js/widgets/workAvailable/workAvailable.js"></script>
<script type="text/javascript" src="js/widgets/assignedList/assignedList.js"></script>
<script type="text/javascript" src="js/widgets/editedList/editedList.js"></script>
<script type="text/javascript" src="js/widgets/compareRecords/compareRecords.js"></script>
<script type="text/javascript" src="js/widgets/projectDetails/projectDetails.js"></script>
<script type="text/javascript"
  src="js/widgets/terminologyBrowser/terminologyBrowser.js"></script>
<script type="text/javascript" src="js/widgets/projectRecords/projectRecords.js"></script>
<script type="text/javascript" src="js/widgets/recordConcept/recordConcept.js"></script>
<script type="text/javascript" src="js/widgets/recordSummary/recordSummary.js"></script>
<script type="text/javascript" src="js/widgets/feedback/feedback.js"></script>
<script type="text/javascript"
  src="js/widgets/feedbackConversation/feedbackConversation.js"></script>
<script type="text/javascript" src="js/widgets/recordAdmin/recordAdmin.js"></script>
<script type="text/javascript"
  src="js/widgets/applicationAdmin/applicationAdmin.js"></script>
<script type="text/javascript" src="js/widgets/report/report.js"></script>
<script type="text/javascript" src="js/widgets/qaCheck/qaCheck.js"></script>
<script type="text/javascript" src="js/widgets/indexViewer/indexViewer.js"></script>

</head>
<body>

  <noscript>
    <div class="alert alert-danger">You must have Javascript enabled to
      use the Mapping Tool.</div>
  </noscript>
  <div class="container">

    <!-- Error handling -->
    <div class="row">
      <!-- padding -->
      <div class="col-md-1 col-xs-0"></div>
      <div class="col-md-10 col-xs-12" id="errorMsg"
        class="border-error alert-error" ng-show="globalError">
        <h4 class="alert alert-danger alert-error">
          {{globalError}}
          <span style="display: inline; float: right;">

            <i class="glyphicon glyphicon-tags" style="margin-right: 15px"
              ng-show="globalLongError"
              title="{{globalErrorExpand ? 'Hide' : 'Show'}} long eror"
              ng-click="globalErrorExpand = !globalErrorExpand;"></i>
            <i class="glyphicon glyphicon-remove" ng-click="resetGlobalError()"></i>
          </span>
          <span class="intro-text"
            ng-show="globalLongError && globalErrorExpand">
            <br />{{globalLongError}}
          </span>
        </h4>
      </div>
      <!-- padding -->
      <div class="col-md-1 col-xs-0"></div>
    </div>

    <div ng-view style="margin-top: 10px;"></div>
    <div ng-show="glassPane > 0" class="top-layer"></div>
  </div>


</body>
</html>
