<!-- <script type="text/javascript"
  src="https://jira.ihtsdotools.org/s/d41d8cd98f00b204e9800998ecf8427e/en_US49ycqb-1988229788/6262/3/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=2101c2db"></script>
 -->
<script type="text/javascript"
  src="https://jira.ihtsdotools.org/s/37c6780238d52b49cad978384cd7a8e6-T/en_US8gf24t/70120/a1623a9e469981bb7c457209f1507980/2.0.8/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=93f717c1"></script>
