

<div ng-show="project != null">

  <h4>{{project.name}}</h4>

  <button class="btn btn-sm btn-primary" ng-click="goProjectDetails()">Project
    Details</button>
  <button class="btn btn-sm btn-primary" ng-click="goMapRecords()">Map
    Records</button>

  <span ng-show="currentRole === 'Administrator'">
    <button class="btn btn-sm btn-primary" ng-click="computeWorkflow()">Compute
      Workflow</button>
  </span>
  
    <span ng-show="currentRole === 'Administrator'">
    <button class="btn btn-sm btn-primary" ng-click="generateTestingStateForKLININ()">Reset Records for KLI/NIN</button>
  </span>
  
   <span ng-show="currentRole === 'Administrator'">
    <button class="btn btn-sm btn-primary" ng-click="generateTestingStateForBHEKRE()">Reset Records for BHE/KRE</button>
      Workflow</button>
  </span>
  
  <div ng-show="currentRole === 'Administrator'">
  <hr>
  <form>
  <button class="btn btn-sm btn-primary" 
  		  ng-click="generateTestData()"
  		  ">Generate Test Data</button>

  Maximum number of conflicts: <input id="numberOfConflicts" style="width:50px;" value="5" ng-model="nConflicts"> 
  </form>
  </div>
  
  
</div>

