

<div ng-show="project != null">

  <h4>{{project.name}}</h4>

  <button class="btn btn-sm btn-primary" ng-click="goProjectDetails()">Project
    Details</button>
  <button class="btn btn-sm btn-primary" ng-click="goMapRecords()">Map
    Records</button>
    <div ng-show="currentRole === 'Administrator'">
    <hr>
    Compute Workflow, Generate Conflicts, and Generate Testing State have been temporarily removed to ensure existing assignments are not overwritten.
	</div>
<!-- 
  <span ng-show="currentRole === 'Administrator'">
    <button class="btn btn-sm btn-primary" ng-click="computeWorkflow()">Compute
      Workflow</button>
  </span>
  
    <span ng-show="currentRole === 'Administrator'">
    <button class="btn btn-sm btn-primary" ng-click="generateTestingState()">Generate Testing State</button>
  </span>
  
  <div ng-show="currentRole === 'Administrator'">
  <hr>
  <form>
  <button class="btn btn-sm btn-primary" 
  		  ng-click="generateTestData()"
  		  ">Generate Test Data</button>

  Maximum number of conflicts: <input style="width:50px;" value="5" ng-model="nConflicts"> 
  </form>
  </div> -->
</div>
<div ng-show="project == null">Select a project.</div>

