
<form>
  Search: <input id="searchField" ng-model="searchField" style="margin: 5px;">
  <input id="subSearchField" ng-model="subSearchField" style="margin: 5px;">
  <input id="subSubSearchField" ng-model="subSubSearchField"
    style="margin: 5px;"> <input type="checkbox" ng-model="allCheckBox"
    style="margin: 5px;"> All
  <button class="btn btn-sm btn-primary" style="margin: 5px;"
    ng-click="performAggregatedSearch(allCheckBox, searchField, subSearchField, subSubSearchField);">Go</button>
  <button class="btn btn-sm btn-primary"
    ng-click="resetSearch(1, 'null', assignedMapUser); searchField = null; 
              subSearchField = null; subSubSearchField = null;">Reset</button>

</form>
<div style="float: left; width: 60%; padding: 10px;">{{mainTermLabel}}</div>
<div style="float: right; width: 40%; padding: 10px;">
  <a title="Go to first search result" ng-click="goFirstResult()"><i
    class="glyphicon glyphicon-backward"></i></a> <a
    title="Go to previous search result" ng-click="goPreviousResult()"><i
    class="glyphicon glyphicon-step-backward"></i></a> {{searchResultsLabel}} <a
    title="Go to next search result" ng-click="goNextResult()"><i
    class="glyphicon glyphicon-step-forward"></i></a> <a
    title="Go to last search result" ng-click="goLastResult()"><i
    class="glyphicon glyphicon-forward"></i></a>
</div>

<tabset>
<tab ng-repeat="indexTab in indexTabs" heading="{{indexTab.title}}"
  active="indexTab.active">
<div id="scrollArea" style="height: 250px;">
  <a ng-click="gotoElement('skin')">Go to 'skin'</a><br /> <a
    ng-click="gotoElement('bottom')">Go to bottom</a>
  <p ng-bind-html="renderHtml(indexTab.contents)"></p>
  {{templateUrl}}
  <div class="slide-animate" ng-include src="templateUrl"></div>
  <a id="bottom"></a> You're at the bottom!
</div>
</tab> </tabset>









