
  
  <tabset> <tab heading="{{assignedWorkTitle}}"> <pagination
  total-items="nAssignedRecords" page="assignedWorkPage" class="pagination-sm" max-size="5"
  boundary-links="true" rotate="true" num-pages="numAssignedRecordPages"
  on-select-page="retrieveAssignedWork(page)"></pagination>
   


<table class="table">

  <thead>
    <tr>
      <th style="width: 3%; padding: 5px;"></th>
      <th style="width: 14%; padding: 5px;">Id</th>
      <th style="width: 80%; padding: 5px;">Name</th>
      <th style="width: 3%; padding: 5px;"></th>

    </tr>

  </thead>

  <tbody>

    <tr ng-repeat="result in assignedRecords">

      <td style="width: 3%; padding: 5px;">
      
        <!-- Display a pushpin if this record has previously been edited -->
      	<a title='Continue working on this concept' ng-show="result.terminologyVersion === 'EDITING_IN_PROGRESS'">
      		<i ng-click="goEditRecord(result.id)" class="glyphicon glyphicon-pushpin"></i>
    	</a>
    	
    	<!-- Display a pencil if this record has not yet been edited -->
    	<a title='Start work on this concept' ng-show="result.terminologyVersion != 'EDITING_IN_PROGRESS'">
      		<i ng-click="goEditRecord(result.id)" class="glyphicon glyphicon-pencil"></i>
    	</a>
              
     
        </td>

      <td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>
      <td style="width: 80%; padding: 5px;">{{result.value}}</td>
      <td style="width: 3%; padding: 5px;"><a
        title="Return"
        ng-click="unassignWork(result)"><i
        class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i></a></td>
  </tbody>


</table>


</tab> <tab heading="{{assignedConflictsTitle}}"
  ng-show="currentRole === 'Lead' || currentRole === 'Administrator'"> <pagination
  total-items="nAssignedConflicts" page="assignedConflictsPage"
  class="pagination-sm" boundary-links="true" rotate="true"
  num-pages="numAssignedConflictsPages" max-size="5"
  on-select-page="retrieveAssignedConflicts(page)"></pagination>
<table class="table">

 <a ng-show="assignedConflicts.length > 0"
        title="Return All"
        ng-click="unassignAllConflicts(result)"><i
        class="glyphicon glyphicon-share-alt icon-rotate icon-flipped pull-right"></i></a>

  <thead>
    <tr>
      <th style="width: 3%; padding: 5px;"></th>
      <th style="width: 14%; padding: 5px;">Id</th>
      <th style="width: 80%; padding: 5px;">Name</th>
      <th style="width: 3%; padding: 5px;"></th>

    </tr>

  </thead>

  <tbody>

    <tr ng-repeat="result in assignedConflicts">

      <td style="width: 3%; padding: 5px;"><a
              title="Edit"><i ng-click="goEditConflict(result.id)"
              class="glyphicon glyphicon glyphicon-pencil"></i></a>
        
        <i ng-show = "result.terminologyVersion === 'CONFLICT_IN_PROGRESS'"
              class="glyphicon glyphicon-saved"
              tooltip-placement="right"
        		tooltip="This conflict has been previously edited."></i>
        </td>

      <td style="width: 14%; padding: 5px;">{{result.terminologyId}}</td>
      <td style="width: 80%; padding: 5px;">{{result.value}}</td>
      <td style="width: 3%; padding: 5px;"><a
        title="Return"
        ng-click="unassignWork(result)"><i
        class="glyphicon glyphicon-share-alt icon-rotate icon-flipped"></i></a></td>
    </tr>
  </tbody>



</table>


</tab>

 <a
        title="Return All Work"
        ng-click="unassignAllWork()"><i
        class="glyphicon glyphicon-trash icon-rotate icon-flipped pull-right"
         ng-show="assignedRecords.length > 0 || assignedConflicts.length > 0"></i></a>&nbsp