/* CSS file for OTF Mapping WebApp */

html, body
{
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	height: 100%;
}

.otf-modalHeader {
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
}