/* CSS file for OTF Mapping WebApp */

html, body
{
	margin: 0;			/* Remove body margin/padding */
	padding: 0;
	height: 100%;
}

body {
	background-color: #EEE;
	padding-top: 50px;
	padding-bottom: 50px;
}