/* CSS file for OTF Mapping WebApp */
html,body {
	margin: 0; /* Remove body margin/padding */
	padding: 0;
	/**height: 100%;*/
}

p {
	margin: 0 0 0px;
}

.panel-heading {
	padding: 5px 5px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-body {
	padding: 7px;
}

/** from bootstrap.css - changes margin between panels in a group */
.panel-group {
	margin-bottom: 10px;
}

/** from bootstrap.css - changes panel titles from 16 to 14 px */
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	color: inherit;
}

/** from bootstrap.css - changes font-size from 14 to 13 px */
body {
	font-size: 13px;
	background-color: #f9f9f9;
	padding-top: 80px;
	padding-bottom: 80px;
}

.navbar {
	min-height: 30px;
}

.top-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 10000;
	cursor: wait;
	background-color: #FFFFFF;
}